[2018-06-06 05:32] ToufiqSuhail opened #2227 "Ads display error"
Adsense problem with RTL & menu in the Arabic language

Ref: https://secure.helpscout.net/conversation/590799201/27070?folderId=2075531

**Solution:** Add Source code -      .amp-ad-wrapper{direction:ltr;}       in Custom CSS

[2018-06-06 05:40] Sejiro-Hiko commented on #2211
Hi @olivermaor can you please tell me which version you are using and did you enabled the option from the setting->comment area?

[2018-06-06 06:06] MARQAS commented on #2210
It was not working recently in the swift but we have resolved that in recent updates. Any particular thing which is not working?

[2018-06-06 06:50] merajali294 opened #2228 "AMP Carousel for AMP Page Builder"
This user is facing issues while adding the AMP Carousel code directly into the website. The code is given below   https://ampbyexample.com/components/amp-carousel/#supported-contents,

Reference: https://secure.helpscout.net/conversation/595508321/27559/?folderId=1060556

<amp-carousel width="450" height="300"><amp-img src="http://cm2.navazon.com/wp-content/uploads/2018/05/luxury-treatment-center

[2018-06-06 07:12] ToufiqSuhail opened #2229 "Comments to be displayed on blog posts, but not in pages."
need an option to disable the comments on non-blog pages. Comments to be displayed on blog posts, but not in pages.

Ref: https://secure.helpscout.net/conversation/594289164/27458?folderId=1060551

[2018-06-06 08:11] #2192 closed

[2018-06-06 08:21] #2185 closed

[2018-06-06 08:41] ahmedkaludi commented on #2177
Is this a priority?

[2018-06-06 09:00] ahmedkaludi commented on #2175
We need to discuss and figure out a solution to this

[2018-06-06 09:15] ahmedkaludi commented on #2170
Isn't this for woocommerce pro?

[2018-06-06 09:33] ahmedkaludi commented on #2138
It's quick and easy to solve this. Let me know

[2018-06-06 09:43] #1859 closed

[2018-06-06 10:42] merajali294 opened #2230 "'''Google Tag Manager not working properly'''"
When the user is viewing non-AMP pages he is able to get the  bounce rate perfectly in analytics. But when the user is viewing the same content in AMP page the bounce rate is almost zero. He wants to get this fixed. Look into this matter immediately.

Reference: https://secure.helpscout.net/conversation/594151922/27434?folderId=2090441

[2018-06-06 10:56] ahmedkaludi commented on #2229
We need to create an option to enable disable on posts and pages

[2018-06-06 10:57] ahmedkaludi commented on #2228
@merajali294 please share the reference link here

[2018-06-06 10:57] ahmedkaludi commented on #2230
Please share the reference link

[2018-06-06 11:13] Frenchomatic commented on #2188
related to this #2216 . It is not just the accordion.

[2018-06-06 11:16] Sejiro-Hiko commented on #2081
Issue seems to be from envira plugins but now on the user's end the pagination is working without us doing anything on the site.

[2018-06-06 11:29] #2070 closed

[2018-06-06 11:51] #2213 closed

[2018-06-07 04:26] beingsmart3 commented on #2144
Same issue in Design 3
see this screenshot:  http://take.ms/Qc49N
Ref:  https://secure.helpscout.net/conversation/591579790/27178?folderId=2075531

[2018-06-07 04:55] ajeetku commented on #2221
- [ ] Add option to give name or numbering to each module to identify

[2018-06-07 05:44] Sejiro-Hiko commented on #2064
Hi @informacione ,

Are you using takeover or category base remover? if not
Please correct me if I'm wrong, do you meant to say that `domain.com/category/post-name/amp` is redirecting to the `domain.com/category/random-post/amp`

[2018-06-07 06:30] merajali294 opened #2231 "User facing a lot of errors on the google webmaster side."
It's about the no index issue.

I have asked the User to send the details for more clarification.

Prohibited or invalid use of HTML Tag
<noindex data-plugin="adsplacer_pro" data-tag="p, blockquote" data-position="before" data-number="0" data-center="0" data-firstquad="0" data-thirdquad="0"></noindex>

Reference : https://secure.helpscout.net/conversation/596079778/27616/

[2018-06-07 06:58] Sejiro-Hiko commented on #2113
The issue was fixed the updates after the 0.9.86 and just got the confirmation from the user also.

[2018-06-07 07:08] Sejiro-Hiko opened #2232 "When GDPR enabled for EU then the data-block-on-consent is added for all countries"
the above case causing the embedded components (such as Twitter, Instagram, etc) not to work.

[2018-06-07 07:38] ahmedkaludi commented on #2223
Similar https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1771

[2018-06-07 07:45] #2105 closed

[2018-06-07 07:55] githubjabbar opened #2233 "Paginated AMP URL on category are opening to 404 page"
REF: https://secure.helpscout.net/conversation/595814679/27583/

[2018-06-07 09:03] githubjabbar opened #2234 "Performance issue with the function ampforwp_get_comments_gravatar"
REF: https://secure.helpscout.net/conversation/595235102/27544?folderId=1680011

[2018-06-07 10:04] RajuJeelaga commented on #2102
- [ ] RTL part is done for the Option panel.

[2018-06-07 10:32] ansaritalha opened #2235 "change Piwik [name of analytics vendor] Matoma"
Piwik analytics vendor has changed the name from Piwik to Matoma.

[2018-06-07 10:32] githubjabbar commented on #1735
This is not the actual issue of AMP cache, we need to find the solution to this issue.

[2018-06-07 10:43] ToufiqSuhail opened #2236 "User requesting to create AMP page to be displayed as subdomain amp.website.com"
The user wants to make AMP pages displayed as amp.mboutiquehotels.com without affecting SEO.

Ref: https://secure.helpscout.net/conversation/596537482/27645/?folderId=1060551

[2018-06-07 10:50] ajeetku opened #2237 "featured image from Custom fields in pagebuilder Category module"
Current: This module always from the featured image
Need: Connect with options panel Get image from custom fields

[2018-06-07 16:12] Frenchomatic opened #2238 "Minor css issue design 2"
.amp-wp-content blockquote { background-color: #fff; border-left: 3px solid; margin: 0; padding: 15px 20px 8px 24px; background: #f3f3f3; }

Don't need background twice.

[2018-06-08 05:04] Sejiro-Hiko commented on #2233
The issue is for the subcategories

[2018-06-08 05:46] ansaritalha opened #2239 "option for rel="nofollow" in AMP page builder button module"
option for put rel=”nofollow” on specific buttons.

Ref: https://wordpress.org/support/topic/nofollow-in-specific-buttons-in-amp-page-builder/

[2018-06-08 05:46] Sejiro-Hiko commented on #2219
Hi @zhouyx,
Can you please brief me what issue you are facing with the above-mentioned scenario, is it similar to the issue mentioned here #2232 ?
please reach us out here https://ampforwp.com/support/ and I personally assist you with your issue.

[2018-06-08 05:49] Sejiro-Hiko commented on #2220
Hi @Acer10,
can you tell me how you are adding "space shortcode" is it from any plugin?
can you please reach us out here https://ampforwp.com/support/ with the detail about the issue?

[2018-06-08 06:20] Zabi09 opened #2240 "Youtube videos are not rendering in AMP version"
Youtube video is not rendering in AMP - https://staging.osv.ltd.uk/new-test-amp/amp/

Ref: https://secure.helpscout.net/conversation/586257505/26644?folderId=673452

[2018-06-08 06:30] Sejiro-Hiko commented on #2182
@Cosrnos are you still facing this issue?

[2018-06-08 07:05] ahmedkaludi commented on #2240
https://www.scholarshubafrica.com/amp/ ads

[2018-06-08 07:08] Zabi09 commented on #2240
Ref: https://secure.helpscout.net/conversation/595419076/27552?folderId=673452

[2018-06-08 07:08] ahmedkaludi commented on #2068
@ajeetku You need to help out @RajuJeelaga with the repeater feilds area.

[2018-06-08 07:12] Zabi09 commented on #2232
Ref: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2240

[2018-06-08 07:13] ansaritalha commented on #2063
working fine now.

[2018-06-08 07:16] Acer10 commented on #2220
Hi,
I have done but the reply i received is as follows;

Hello Tom,

Hope you are doing good, thank you for writing to us.

With regards to your query about Theme short codes. Could you please tell me whether you have been invited by anyone's reference from our team.

Do let me know if you have any further queries.

Regards,
Meraj Ali

AMPforWP Customer Sucess Team

[2018-06-08 07:18] beingsmart3 commented on #2225
Its working fine on the user end.

[2018-06-08 07:18] #2225 closed

[2018-06-08 07:31] githubjabbar opened #2241 "Pagination Issue in AMP."
Pagination is not working in the AMP.

Additional observation: "amphtml" is not rendering in the Non-AMP of https://englishtown.staging.wpengine.com/blog/

REF: https://secure.helpscout.net/conversation/594277206/27456?folderId=1680011

[2018-06-08 07:36] Sejiro-Hiko commented on #2227
apparently, the error is only in SWIFT while using RTL

[2018-06-08 07:37] beingsmart3 commented on #2164
Its working fine on the user end.

[2018-06-08 07:37] #2164 closed

[2018-06-08 09:55] ahmedkaludi opened #2242 "In page builder, Text module, when ever added the CF7 Shortcode in the module, Textarea is not showing."
In page builder, Text module, when ever added the CF7 Shortcode in the module, Textarea is not showing.

For Reference, check this....
https://monosnap.com/file/3RFP0MmACVu1ymHn23iFw6WKB2fIPy

[2018-06-08 09:56] ahmedkaludi commented on #2242
This was reported by @RajuJeelaga

I am not sure if this is really related to the core or the CF7 form, @Sejiro-Hiko check and see how we can resolve this.

[2018-06-08 10:37] merajali294 opened #2243 "Problem in Post Pagination in the last version"
Whenever the user is accessing this web page, when clicked on the next word the content is disappearing.

https://filforex.com/financial-mistakes/amp/

User wants the content to displayed on the AMP Page properly, updated User that ticket has been created and our team is working on it.

Reference: https://secure.helpscout.net/conversation/597290500/27715/

[2018-06-08 10:50] merajali294 opened #2244 "User wants all the posts to be shown only on the current page. (Load more feature)"
Currently the posts are viewed by clicking on the Next Button here  https://www.yeniarabafiyati.com
but User wants it to be displayed continuously on scroll like : www.sozcu.com.tr

Reference: https://secure.helpscout.net/conversation/597335044/27734?folderId=2090441

Updated User about the ticket is created and our team is working on it.

[2018-06-08 17:19] zhouyx commented on #2219
@Sejiro-Hiko

I worked on the `<amp-consent>` component. This is something that I found when I was looking at some random pages out there.

- I saw you configured `data-block-on-consent` on some AMP components without actually putting the `<amp-consent>` component. Those components won't be blocked, is that the expected behavior?

- Another question I found `data-block-on-consent` attribute is add

[2018-06-08 19:48] nicenicepretty opened #2245 "403 error"
This plugin is causing a 403 error for me. The web host has confirmed that it is this plugin that's causing the issues. When I edited the settings I got locked out the site, and when the host disabled the plugin and I cleared my cookies I no longer got a 403 error. I reactivated the plugin and tried editing the settings, and again was locked out with a 403 error. Help?

[2018-06-08 21:06] nicenicepretty commented on #2245
It appears the conflict was caused by Glue for Yoast not playing nice with AMP for WP. Is Glue for Yoast unnecessary to use with this plugin?

[2018-06-09 03:53] Sejiro-Hiko commented on #2219
@zhouyx

that's actually an improper implementation of the `<amp-consent>` and `data-block-on-consent` and whose behavior is preventing the data being load from components such as `<amp-ad>` for which I've created the ticket #2232 and we're currently working on it.

[2018-06-09 03:56] Sejiro-Hiko commented on #2182
@Cosrnos can you please reach us out here https://ampforwp.com/support/ along with your site url, I'll look into the issue on your end.

[2018-06-09 05:56] ajeetku commented on #2165
- [ ] Add option to give name or numbering to each module to identify

[2018-06-09 06:30] ansaritalha opened #2246 "Read more button feature for post [single page]"
Read more button feature for the post.

Ref: https://secure.helpscout.net/conversation/592605980/27294?folderId=1914716

[2018-06-09 06:30] Sejiro-Hiko commented on #2242
@ahmedkaludi just tested on my end and it's working fine but will discuss with @RajuJeelaga about the scenarios where we can recreate the issue.

[2018-06-09 06:41] Sejiro-Hiko commented on #2220
@Acer10  the file you sent is corrupted can you please look into it and send the correct file.

[2018-06-09 06:58] MARQAS commented on #1530
I guess we should wait for it to become the full-fledged feature or else it can cause some problems.

[2018-06-09 08:37] MohammedKaludi commented on #2245
@nicenicepretty Glue is not required as AMPforWP is fully compatible with Yoast SEO plugin

[2018-06-09 08:37] #2245 closed

[2018-06-09 09:13] MohammedKaludi commented on #2108
Its fixed and properly working.
👍

[2018-06-09 09:13] #2108 closed

[2018-06-09 09:16] MohammedKaludi commented on #2168
👍

[2018-06-09 09:16] #2168 closed

[2018-06-09 09:23] githubjabbar opened #2247 "Content is not rendering in AMP when the Page of Non-AMP is built by using the WPBakery Page Builder"
Content is not rendering in AMP when the Page of Non-AMP is built by using the WPBakery Page Builder
REF: https://secure.helpscout.net/conversation/594435928/27482?folderId=1680011

[2018-06-09 09:26] mdkaleem95 opened #2248 "New Desing Slider Gallery Images."
Ref:  https://secure.helpscout.net/conversation/592350115/27246?folderId=1914712

[2018-06-09 10:30] MohammedKaludi commented on #2057
FIlter added to modify Image Attributes in AMP Theme Framework called "ampforwp_query_args"
and as @retroriff asked, we already have the a filter to modify the WP_Query called "ampforwp_query_args"

Filter is added and now can be modified according the use case.
👍

[2018-06-09 10:30] #2057 closed

[2018-06-09 10:50] ahmedkaludi commented on #2097
nl to br is still pending

[2018-06-09 10:51] MohammedKaludi commented on #2081
👍

[2018-06-09 10:51] #2081 closed

[2018-06-09 10:54] MohammedKaludi commented on #2113
You can close the ticket.
Thank you so much!
Jun

Closing the ticket.

[2018-06-09 10:54] #2113 closed

[2018-06-09 11:01] MohammedKaludi commented on #2169
👍

[2018-06-09 11:01] #2169 closed

[2018-06-09 11:09] MohammedKaludi commented on #1986
👍

[2018-06-09 11:09] #1986 closed

[2018-06-09 11:15] MohammedKaludi commented on #2191
👍

[2018-06-09 11:15] #2191 closed

[2018-06-09 11:17] MohammedKaludi commented on #2099
👍

[2018-06-09 11:17] #2099 closed

[2018-06-09 11:17] MohammedKaludi commented on #2210
was not working with 0.9.90 (with updated core)  👍

[2018-06-09 11:17] #2210 closed

[2018-06-09 11:39] MohammedKaludi commented on #2093
working as expected. 👍

[2018-06-09 11:39] #2093 closed

[2018-06-09 11:39] Zabi09 opened #2249 "option for disabled excerpt on home page and category page in swift theme"
option for disable excerpt from the homepage and category pages.

Ref: https://secure.helpscout.net/conversation/595419076/27552?folderId=673452

[2018-06-10 12:52] retroriff commented on #2057
Great, thanks!

[2018-06-11 05:16] Sejiro-Hiko commented on #2219
@zhouyx
Actually, I couldn't understand your initial reply when you stated "you worked on the `amp-consent ` component"
The answer to your earlier points are

- yeah the components won't be blocked even if we put `data-block-on-consent` without setting the `<amp-consent>`
- we've put the `data-block-on-consent` on `<amp-ad>` as well.

[2018-06-11 05:39] ajeetku commented on #2090
For testing: Add multiple carousels in a single page issue will re-occur.

[2018-06-11 05:54] MohammedKaludi commented on #2097
:+1:

[2018-06-11 05:54] #2097 closed

[2018-06-11 06:46] MohammedKaludi commented on #2218
:+1:

[2018-06-11 06:46] #2218 closed

[2018-06-11 06:46] MohammedKaludi commented on #2068
:+1:

[2018-06-11 06:46] #2068 closed

[2018-06-11 06:47] ToufiqSuhail opened #2250 "Pagination issue/ displaying the same pages in every next page"
Can't browse to next page (pagination issue). Also, the same page is displaying when we moved to the next page. And do not show the posts of the third page and so on...

Ref: https://secure.helpscout.net/conversation/598632730/27856/

[2018-06-11 07:05] MohammedKaludi commented on #2204
:+1:

[2018-06-11 07:05] #2204 closed

[2018-06-11 07:32] MohammedKaludi commented on #2162
:+1:

[2018-06-11 07:35] ajeetku opened #2251 "Pagebuilder: Add option to give specific name to all modules"
Add option to give name or numbering to each module to identify

By default, it will be cell unique id. When user will change it, show updated text/value

[2018-06-11 07:42] Zabi09 opened #2252 "Feature for showing related items/post in paragraph wise"
Option for showing related post paragraph wise.

Ref: https://secure.helpscout.net/conversation/597567730/27761?folderId=673452

[2018-06-11 09:03] MohammedKaludi commented on #2127
Remove the on/off switch and add tutorial link

[2018-06-11 09:12] MohammedKaludi commented on #2227
the condition added will only work for AD 1, not for all ads. suggest you to remove the condition so it can work with all ads.

[2018-06-11 09:19] MohammedKaludi commented on #1771
@jrean Thank you for your feedback, we have added this feature to the plugin and this feature will be pushed in next update, which we are planning to release on 25th June.

Thank you very much for your feedback.
Closing the ticket.

[2018-06-11 09:19] #1771 closed

[2018-06-11 09:20] MohammedKaludi commented on #2223
We have added this feature to the plugin and this feature will be pushed in next update, which we are planning to release on 25th June.

Closing the ticket.

[2018-06-11 09:20] #2223 closed

[2018-06-11 09:28] MohammedKaludi commented on #1156
Fixed in #2204
Closing the ticket.

[2018-06-11 09:28] #1156 closed

[2018-06-11 09:34] MohammedKaludi commented on #2102
@RajuJeelaga All the controls are not properly aligned. http://take.ms/LkQ7u

[2018-06-11 09:47] Sejiro-Hiko commented on #2205
@ahmedkaludi It's been fixed.

[2018-06-11 10:10] MohammedKaludi commented on #2224
:+1:

[2018-06-11 10:10] #2224 closed

[2018-06-11 10:15] MohammedKaludi commented on #2205
:+1:

[2018-06-11 10:15] #2205 closed

[2018-06-11 10:17] MohammedKaludi commented on #2203
:+1:

[2018-06-11 10:17] #2203 closed

[2018-06-11 10:23] #2231 closed, assigned to nobody

[2018-06-11 10:27] MohammedKaludi commented on #2127
:+1:

[2018-06-11 10:27] #2127 closed

[2018-06-11 10:30] ahmedkaludi commented on #2236
@MohammedKaludi @ajeetku @Sejiro-Hiko @MARQAS

What do you guys think of this feature, How can we achieve this?

[2018-06-11 10:31] MohammedKaludi commented on #2138
Also reported here: #2227

The issue seems to be fixed :+1:

[2018-06-11 10:31] #2138 closed

[2018-06-11 10:31] ahmedkaludi commented on #2228
@ajeetku Do consult with me when you are starting this ticket.

[2018-06-11 10:31] MohammedKaludi commented on #2227
Fixed in #2138

[2018-06-11 10:31] #2227 closed

[2018-06-11 10:51] ahmedkaludi commented on #2230
Not enough data for this ticket. Contacting customer to debug this issue.

[2018-06-11 10:55] #2230 closed

[2018-06-11 12:06] Tymvie opened #2253 "Issues with pagination"
Steps to reproduce:
Create a post, and a front page (and select the page in the General settings of the plugin):
[code]

|| swift| design 3 |
|-| ------------- | ------------- |
|the second page of the post|"two" (correct)|PHP Notice:  Undefined offset: 1 /design-3/elements/content.php on line 50 (incorrect) |
|front page|"one" (incorrect, no link to the next page)|"one two" (incorrect, pagination

[2018-06-11 12:07] Tymvie commented on #1988
@Sejiro-Hiko hi,
yes, and this was fixed.
I found some problems while testing: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2253

[2018-06-11 14:16] Cosrnos commented on #2182
@Sejiro-Hiko We don't have a site, we're actually developing a plugin and one of the behaviors is dropping an amp-consent and amp-geo tag onto the page, but anytime we try to do this via the sanitizer hook originally provided by the AMP plugin from automattic that you've forked, your plugin tries to wrap the JSON config for those objects in CDATA, which is because you haven't pulled in the changes

[2018-06-11 22:08] zhouyx commented on #2219
@Sejiro-Hiko I worked on the design and the implementation of the `<amp-consent>` component, and the `data-block-on-consent` attribute that comes along with the component.

This is exactly what the `<amp-consent>` component is designed for.

we've put the data-block-on-consent on <amp-ad> as well.

As far as I found, you only put that on adsense ad. Still what's the point of adding `data-block-on-

[2018-06-13 04:39] Sejiro-Hiko commented on #2250
unable to recreate the issue on my end ask the user to provide the staging environment.

[2018-06-13 04:52] MARQAS commented on #2036
I just tested it and its working fine on my end.

[2018-06-13 04:53] MARQAS commented on #2036
The Button module is working in AMP Footer as well.

[2018-06-13 07:07] beingsmart3 opened #2254 "/amp/ should not load when the category is disabled."
When AMP support is off on Archives but still its load /amp/ at the recent article.

see this screenshot:  http://take.ms/pQbIIZ

Ref:  https://secure.helpscout.net/conversation/589143657/26886?folderId=1914712

[2018-06-13 09:49] Sejiro-Hiko commented on #2241
Fixed the issue on users end by using `init `hook instead of `admin_init` for the function `ampforwp_add_custom_rewrite_rules`

[2018-06-13 10:04] Sejiro-Hiko commented on #1988
@Tymvie

I'll try to recreate the issue you mentioned in the #2253 and will look into it

[2018-06-14 09:28] kraftpixel opened #2255 "pre_get_posts is not working as expected"
[code]

Output of print_r above.
https://hastebin.com/asotexikeh.php

The result is not visible on AMP homepage. (I'm still seeing posts that have the meta 'block_from_search' set to 1.

This same query works on the normal non-amp pages.

[2018-06-16 06:17] Tymvie commented on #2001
Thanks a lot
Could we also support pages by replacing `is_single()` with `is_singular()`?

[2018-06-18 05:03] Sejiro-Hiko commented on #2250
the issue could be similar that of #2241 but unable to confirm on the users end as there's no response from the user.

[2018-06-18 06:48] beingsmart3 opened #2256 "Need to create an option where the user can link the slider image."
Need to create an option where the user can link the slider image.

Ref:  https://secure.helpscout.net/conversation/566799084/24986?folderId=1914712

[2018-06-18 07:33] MARQAS commented on #1875
Hi @emma-tuna, Can you tell us how are you embedding wistia videos? Can you share a code snippet and a link where you are adding the wistia videos?

[2018-06-18 08:54] Sejiro-Hiko commented on #2146
@ahmedkaludi what should we do with this option which is right now not being used?

[2018-06-18 09:39] Sejiro-Hiko commented on #2220
@Acer10 please respond before the deadline that is 20-June-18 otherwise we'll be closing this issue and we'll reopen it for some another milestone if we get the response from you.

[2018-06-18 09:40] Sejiro-Hiko commented on #2211
@olivermaor  please respond before the deadline that is 20-June-18 otherwise we'll be closing this issue and we'll reopen it for some another milestone if we get the response from you.

[2018-06-18 09:40] Sejiro-Hiko commented on #2064
@informacione  please respond before the deadline that is 20-June-18 otherwise we'll be closing this issue and we'll reopen it for some another milestone if we get the response from you.

[2018-06-18 09:42] Acer10 commented on #2220
Will upload through your support process as soon as I finish my evening meal

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sejiro-Hiko <notifications@github.com>
Sent: Monday, June 18, 2018 7:39:50 PM
To: ahmedkaludi/accelerated-mobile-pages
Cc: Tom Newton; Mention
Subject: Re: [ahmedkaludi/accelerated-mobile-pages] Space short codes cause lines in strange plac

[2018-06-18 09:50] Sejiro-Hiko commented on #2216
@Frenchomatic we'll be making the plugin to automatically detect the amp-components and add their respective scripts if they are not already there in the head.

[2018-06-18 10:20] Sejiro-Hiko commented on #2175
The issue is from the user's custom theme, ask their developer to look into it and will help from our end as much as it needs to resolve the issue on user's end.

[2018-06-18 10:21] Sejiro-Hiko commented on #2220
@Acer10 thanks

[2018-06-18 10:38] Sejiro-Hiko commented on #2167
one more #2148

[2018-06-18 10:40] Sejiro-Hiko commented on #2148
this will be resolved in #2167

[2018-06-18 12:30] beingsmart3 commented on #1613
Ref:  https://secure.helpscout.net/conversation/601263495/28044?folderId=1060551

[2018-06-18 12:38] merajali294 commented on #2252
Reference: https://secure.helpscout.net/conversation/583955720/26409?folderId=2090441

As the ticket is already created, another User wants to display the Inline Related Post above the last paragraph.

[2018-06-18 13:48] MARQAS commented on #1875
Working at the user end as well. just need to check the styling of player

[2018-06-19 06:39] Sejiro-Hiko commented on #2247
the issue was user using the "WPML for AMP" without using the "WPML" on his site.

[2018-06-19 06:55] MARQAS commented on #2087
amp-pixel is loading properly in AMP.

I've checked on user's website as well and it is working fine.
ref: https://secure.helpscout.net/conversation/544821968/23466?folderId=1060556

[2018-06-19 06:57] MARQAS commented on #2087
@musebridge and @jeherve can you guys update us the status of this issue?

[2018-06-19 07:15] merajali294 opened #2257 "Whenever user is trying to add the Marquee Code, he's getting the Validation Error"
Reference:  https://secure.helpscout.net/conversation/602863527/28151?folderId=1060551

User is getting error on the page as ""The tag 'marquee' is disallowed"" .
User Website Link : http://hunybunyworld.com/reality-behind-9999999-gems-coc/?amp

[2018-06-19 10:38] ajeetku commented on #2121
only Need to check with redux core plugins, because this plugin load on top of all plugins function name : "load_first"

[2018-06-19 11:13] ajeetku opened #2258 "With Redux core plugin, AMP option panel design not loading"
redux core plugins load on top of all plugins function name: "load_first". this hook is load redux class on the top first.

[2018-06-19 12:21] MARQAS commented on #2184
This option is already available.

[2018-06-20 05:47] Sejiro-Hiko commented on #2220
@Acer10 Can you please test the above commit or you must've got an email from us you can follow that too.

[2018-06-20 06:10] MohammedKaludi commented on #2238
:+1:

[2018-06-20 06:10] #2238 closed

[2018-06-20 06:12] MohammedKaludi commented on #2241
:+1: This will fix the issue.

[2018-06-20 06:12] #2241 closed

[2018-06-20 06:14] MohammedKaludi commented on #2250
Fixed in #2241.
Solution: added the function `ampforwp_add_custom_rewrite_rules` to `init` hook instead of `admin_init`

[2018-06-20 06:14] #2250 closed

[2018-06-20 06:28] MohammedKaludi commented on #2135
need to add anonymousIP feature in GTM as well
https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/0.1/vendors.js#L773

[2018-06-20 06:34] MohammedKaludi commented on #2036
:+1:

[2018-06-20 06:34] #2036 closed

[2018-06-20 07:00] MohammedKaludi commented on #2101
:+1: Working perfectly.

[2018-06-20 07:00] #2101 closed

[2018-06-20 07:09] ajeetku commented on #2228
Need to add tags & attributes sanitizers so it will add scripts automatically

[2018-06-20 09:16] Alpacah commented on #2243
Exact same issue here:
Working first page: https://risific.fr/bienvenue-en-prepa/amp
Any other page show a void content :(

[2018-06-20 09:32] MohammedKaludi commented on #2243
@Alpacah is the AMP plugin updated to the latest version?

As I'm not able to recreate the issue in my localhost.

[2018-06-20 09:45] MohammedKaludi commented on #2170
`ampforwp_framework_cmt_scripts` filter is not properly used and another commenting system will still load, like disqus and native comments.

[2018-06-20 09:59] MohammedKaludi commented on #2190
:+1:

[2018-06-20 09:59] #2190 closed

[2018-06-20 10:04] Sejiro-Hiko commented on #2211
@olivermaor the issue you mentioned is strange as we're unable to recreate the issue on our end and nor the other user's reported such issue so what I suggest you is to report us here on the support and our team will debug the issue on your end and make sure that the comments work on your end.
Support Link: https://ampforwp.com/support/

[2018-06-20 10:44] beingsmart3 opened #2259 "Additional image guidelines in structure data"
Ref:  https://secure.helpscout.net/conversation/590147328/27008?folderId=1914712

This is required by Google to be visible in all search results.
https://developers.google.com/search/docs/data-types/article#article_types

[2018-06-20 10:46] MohammedKaludi commented on #2201
the code modified in  `amp_loop_permalink` is breaking the loop amp links in homepage and archive in Swift.

[2018-06-20 11:38] MohammedKaludi commented on #2220
Working properly and confirmed by the user here: https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/a6bbd54a587117c4c537b6d79e9829b805dc9dcb#commitcomment-29430976

[2018-06-20 11:40] #2220 closed

[2018-06-20 12:02] Sejiro-Hiko commented on #2182
@Cosrnos can you please test this developmental version https://github.com/ahmedkaludi/accelerated-mobile-pages/archive/0.9.96.zip as we've resolved the issue already and if it still appears then with this one it should be gone please test and let us know so that we can merge this in the master and release it.

[2018-06-20 12:05] ToufiqSuhail opened #2260 "Request for two columns for sidebars with different measure like 75 : 25."
Ref: https://secure.helpscout.net/conversation/604246807/28251/

[2018-06-20 12:24] githubjabbar opened #2261 "The License keys are getting disappeared from the AMP Extension Panel"
Description: The License keys of the extensions are getting disappeared from the AMP Extension Panel

Ref: https://secure.helpscout.net/conversation/599769235/27932?folderId=1680011

[2018-06-20 13:39] MARQAS commented on #2188
Resolved after resolving #2228

[2018-06-20 14:05] MohammedKaludi commented on #2201
:+1:

[2018-06-20 14:05] #2201 closed

[2018-06-20 20:45] Alpacah commented on #2243
@MohammedKaludi the current version is "Version 0.9.96", I think it's the lastest as I can't update it.

[2018-06-21 05:56] Sejiro-Hiko commented on #2226
Still the same issue @ajeetku

[2018-06-21 06:32] ahmedkaludi commented on #2261
- [ ] and there's one more request from Yudha
 is it possible to hide the liscense key form? Or how to restric/protect the plugin or make the plugin expired after 1 year of use & prevent them to use the key for their another domain? Because i think my client could copy the liscense key and use it in another domain

[2018-06-21 07:59] ajeetku commented on #2234
Need to check on user end

[2018-06-21 08:05] merajali294 opened #2262 "The attribute 'value' may not appear in tag 'a' ."
User is getting AMP Validation error  [[  The attribute 'value' may not appear in tag 'a'  ]] .
He uses Connections Business Directory plugin, gets Validation error.

Website Link : https://www.inhouseblog.com/legal-recruiter-directory/?amp

Helpscout reference:  https://secure.helpscout.net/conversation/598007085/27794/

[2018-06-21 08:06] beingsmart3 opened #2263 "Need to make the compatibility with The Voux theme"
The Voux theme and lazy load feature are not working in AMP as the images are not loading.

Ref:  https://secure.helpscout.net/conversation/601005121/28022?folderId=1914712

[2018-06-21 08:36] Zabi09 commented on #1503
https://secure.helpscout.net/conversation/583350308/26352?folderId=673452

[2018-06-21 08:42] Alpacah commented on #2253
I corrected the same problem, please see this post: [https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2243#issuecomment-398890600](https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2243#issuecomment-398890600)

[2018-06-21 08:53] MARQAS commented on #2253
This should now solve the problem.

[2018-06-21 08:55] MARQAS commented on #2253
@Alpacah Yup, that should solve half problem.

If that code is removed then pagination will not work on Pages and FrontPage.
Please check my last commit it will solve both the problems

[2018-06-21 08:57] MARQAS commented on #2243
#2253 Should solve this issue as well.

[2018-06-21 09:35] MohammedKaludi commented on #2143
need to add the css of hidden field.

[2018-06-21 11:16] ahmedkaludi commented on #2140
This is going to take a lot of time and it won't be a one click solution.

[2018-06-21 12:00] beingsmart3 opened #2264 "Special character "|" issue in the twitter URL"
If there is any special character "|" in the title then the twitter URL is not working

Example:  http://take.ms/4a6mE
http://take.ms/zJOXI

Ref:  https://secure.helpscout.net/conversation/605075143/28324?folderId=1060551

[2018-06-21 13:42] merajali294 opened #2265 "Debug Error due to "AMP_QUERY_VAR" ."
Whenever the User is activating the AMP Plug-in he is getting the following Warning as Warning: Use of undefined constant AMP_QUERY_VAR - assumed 'AMP_QUERY_VAR' (this will throw an Error in a future version of PHP) in /home/oshers5/public_html/wp-content/plugins/accelerated-mobile-pages/includes/vendor/amp/includes/amp-helper-functions.php on line 44

Reference:
https://secure.helpscout.net/conve

[2018-06-21 13:44] MohammedKaludi commented on #2136
:+1:

[2018-06-21 13:45] MohammedKaludi commented on #2180
:+1:

[2018-06-21 13:57] MohammedKaludi commented on #2064
Closing the ticket due to lack of response.

[2018-06-21 13:57] #2064 closed

[2018-06-21 14:39] MohammedKaludi commented on #2211
Closing the ticket due to lack of user response.

[2018-06-21 14:39] #2211 closed

[2018-06-21 14:51] MohammedKaludi commented on #2243
:+1:  Working perfectly with Custom Frontpage and with normal posts and pages with all designs.

[2018-06-21 14:51] #2243 closed

[2018-06-21 14:52] MohammedKaludi commented on #2253
:+1: Working perfectly with Custom Frontpage and with normal posts and pages with all designs.

[2018-06-21 14:52] MohammedKaludi commented on #1988
:+1:

[2018-06-21 14:52] #1988 closed

[2018-06-21 14:56] MohammedKaludi commented on #2146
:+1: Footer on/off is working.

[2018-06-21 14:56] #2146 closed

[2018-06-21 15:00] MohammedKaludi commented on #2079
Waiting for the user's confirmation.

[2018-06-21 15:04] MohammedKaludi commented on #2042
Closing the ticket as the base issue is solved, and regarding domain.com/amp/rubbish as AMP pages are created based on the regular HTML pages, so if regular HTML page is non-existent then creating an AMP page for that will not make sense. But might be useful if the full website is AMP-based.

This can be improved in future.

[2018-06-21 15:04] #2042 closed

[2018-06-21 15:05] MohammedKaludi commented on #2137
:+1:

[2018-06-21 15:33] MohammedKaludi commented on #2262
:+1:

[2018-06-21 15:33] #2262 closed

[2018-06-21 15:37] MohammedKaludi commented on #2170
Facebook comments are not loading http://take.ms/oD2zW

[2018-06-21 15:52] MohammedKaludi commented on #2229
When turning off comments for one post type then its throwing an error, that script is loading but the component is not loading. To test enable facebook comments and check.

[2018-06-21 15:53] MohammedKaludi commented on #2247
:+1:

[2018-06-21 15:53] #2247 closed

[2018-06-21 15:55] MohammedKaludi commented on #2110
:+1:

[2018-06-21 15:55] #2110 closed

[2018-06-21 15:57] MohammedKaludi commented on #2148
@ahmedkaludi need your opinion on what to do about this ticket?

[2018-06-21 16:02] MohammedKaludi commented on #2131
:+1: Working perfectly.

[2018-06-21 16:02] #2131 closed

[2018-06-21 16:07] MohammedKaludi commented on #2242
:+1: Closing the ticket as the issue seems to be fixed.

[2018-06-21 16:07] #2242 closed

[2018-06-22 05:18] ahmedkaludi commented on #2264
@ahmedkaludi can you have a look?

[2018-06-22 05:19] ahmedkaludi commented on #2264
@ahmedkaludi Yes, sure

[2018-06-22 05:23] Omair52 opened #2266 "Username color is too light"
http://take.ms/joAFB

Reference: https://secure.helpscout.net/conversation/605632730/0/?folderId=2090528

In WP-Admin dashboard the username color is too light

[2018-06-22 05:23] ahmedkaludi commented on #2148
@Sejiro-Hiko @MohammedKaludi #2167 has nothing to do with this issue.

The issue is that, You can open a sub menu in mobile but you can't close it. Try it on Mobile. It's a UX problem.

[2018-06-22 05:33] Omair52 opened #2267 "Showing Free version vs Pro"
http://take.ms/J55DS

Reference: https://secure.helpscout.net/conversation/605632730/0/?folderId=2090528

The customer Purchased a membership bundle, In WP-Admin dashboard he activated four or five licenses and still showing "free version vs pro"

[2018-06-22 06:01] MohammedKaludi commented on #2229
Change the name of the function to `ampforwp_get_comments_status()`

Also when you  enable pagebuilder on particular page, extra fb comments script is loading.

[2018-06-22 07:01] ajeetku commented on #2075
Implemented and test on cloudwaysapps Server

[2018-06-22 07:03] ghost opened #2268 "Make the compatibility with the Author Simple Box Plugin"
Make the compatibility with the "Author Simple Box" Plugin.
When the author is uploading his image from "Author Simple Box" Plugin then the author's image is not showing in AMP.

REF: https://secure.helpscout.net/conversation/599214245/27901/

[2018-06-22 07:17] MARQAS commented on #2222
- [ ] Autoplay on/off

- [ ] Delay/Speed option

- [ ] Number of Posts

[2018-06-22 07:24] beingsmart3 opened #2269 "In all the designs it should have the capability to display the full post"
In all designs, if a full post is set as a tag then it should have the capability to display the full post

Ref:  https://secure.helpscout.net/conversation/576223040/25804?folderId=1914712

[2018-06-22 07:30] MohammedKaludi commented on #2148
@Sejiro-Hiko ask @ahmedkaludi and discuss the solution.

[2018-06-22 07:39] MohammedKaludi commented on #2173
:+1:

[2018-06-22 07:39] #2173 closed

[2018-06-22 07:41] Sejiro-Hiko commented on #2148
sure

[2018-06-22 07:44] MohammedKaludi commented on #2126
Looks okay :+1:

[2018-06-22 07:44] #2126 closed

[2018-06-22 07:51] MohammedKaludi commented on #2077
:+1:

[2018-06-22 07:51] #2077 closed

[2018-06-22 08:04] MohammedKaludi commented on #2135
if "anonymizeIP" is off then it should not be added in Analytics json

[2018-06-22 10:08] MohammedKaludi commented on #2076
Fatal Error: http://take.ms/nIn2g

[2018-06-22 10:32] MohammedKaludi commented on #2079
Users reply.

yes, this one is fixed.
For the others I’m in mail-contact with your colleague 🙂

[2018-06-22 10:32] #2079 closed

[2018-06-22 11:09] ajeetku commented on #1923
When we create a child theme with page template like page-{id} or page-{$pagename}.php & same as for author author-{$author->ID}.php / author-{$author->user_nicename}.php /author.php

[2018-06-22 11:12] RajuJeelaga commented on #2229
Are comments **Disabled** by default?  Because I just checked and they were disabled by default,

[2018-06-22 11:14] MohammedKaludi commented on #2034
:+1:

[2018-06-22 11:14] #2034 closed

[2018-06-22 11:32] ansaritalha opened #2270 "Text is not break into next line while there is no space between the text in custom AMP Editor"
if you write content [text] in the custom AMP editor without space between the text then the text goes out of the screen, it should break into next line so all text content should be visible.

screenshot: http://take.ms/cUwfO

Ref: https://wordpress.org/support/topic/bug-with-wrap-text-in-blog-posts/

[2018-06-22 11:54] MohammedKaludi commented on #1806
Now it's working perfectly. :+1:

[2018-06-22 11:54] #1806 closed

[2018-06-22 12:12] MohammedKaludi commented on #2150
:+1:

[2018-06-22 12:12] #2150 closed

[2018-06-22 12:16] merajali294 commented on #2248
https://www.swipty.dk

[2018-06-22 12:45] MohammedKaludi commented on #2159
One last thing is still pending is "https://monosnap.com/file/6OMYb1XfFG3sHTeK6mrHCa9OFpnsDF" on/off has no effect on the json's output.

[2018-06-22 12:58] merajali294 opened #2271 "When Notice bar and GDPR is enabled, user getting <amp-consent> error ."
Description: User is having issue with the GDPR is enabled in a theme created from scratch.

Reference:
https://secure.helpscout.net/conversation/597523519/27755?folderId=2090441

[2018-06-22 12:58] MohammedKaludi commented on #2118
:+1:

[2018-06-22 12:58] #2118 closed

[2018-06-22 13:02] MohammedKaludi commented on #1812
:+1: this is working as expected. One things is still pending but will be fixed in #2159
Closing the ticket.

[2018-06-22 13:02] #1812 closed

[2018-06-22 13:03] MohammedKaludi commented on #1720
:+1:

[2018-06-22 13:03] #1720 closed

[2018-06-22 13:05] MohammedKaludi commented on #2209
The code is written only for WooCommerce, what about other CPTs?
@MARQAS?

[2018-06-22 13:08] MARQAS commented on #2209
Others are working fine.

[2018-06-22 13:09] MohammedKaludi commented on #2209
:+1:

[2018-06-22 13:09] #2209 closed

[2018-06-22 13:12] MohammedKaludi commented on #2226
reuse `	add_filter('amp_blacklisted_tags','ampforwp_sidebar_blacklist_tags');`

[2018-06-22 13:14] MohammedKaludi commented on #2153
@joyloan we are planning to release the update on Monday that is 25th June 2018.

[2018-06-22 13:33] MohammedKaludi commented on #2163
:+1:

[2018-06-22 13:33] #2163 closed

[2018-06-22 13:34] #2059 closed

[2018-06-22 13:34] #2104 closed

[2018-06-22 13:35] MohammedKaludi commented on #2265
:+1:

[2018-06-22 13:35] #2265 closed

[2018-06-22 13:37] MohammedKaludi commented on #2266
:+1:

[2018-06-22 13:37] #2266 closed

[2018-06-22 15:19] MohammedKaludi commented on #2153
Custom frontpage is not working.

[2018-06-22 15:21] MohammedKaludi commented on #1875
:+1:

[2018-06-22 15:21] #1875 closed

[2018-06-23 05:00] ahmedkaludi commented on #2095
@RajuJeelaga I'm putting this ticket in failed. Let's discuss this, I'll show you how to fix it.

[2018-06-23 05:10] merajali294 opened #2272 "Create an option such that whenever a user wants to choose the elements to which he wants to add the "data-block-on-consent" attribute through filters, hooks."
Reference: https://secure.helpscout.net/conversation/597523519/27755?folderId=2090441

1. User has created his theme using Scratch whenever he is enabling GDPR and Notice Bar he is facing an error.

2. Now he wants  to choose the elements to which he wants to add the "data-block-on-consent" .

[2018-06-23 05:59] #2217 closed

[2018-06-23 06:00] #2106 closed

[2018-06-23 06:15] RajuJeelaga commented on #2095
@ahmedkaludi Can you please check from the option panel, It is working fine from my side, Just Now I check.

[2018-06-23 06:48] MohammedKaludi commented on #2143
:+1: Working smoothly

[2018-06-23 06:48] #2143 closed

[2018-06-23 07:42] MohammedKaludi commented on #2094
The ticket was wrongly described.
Closed :+1:

[2018-06-23 07:42] #2094 closed

[2018-06-23 07:59] MohammedKaludi commented on #2159
:+1:

[2018-06-23 07:59] #2159 closed

[2018-06-23 08:30] #2181 closed

[2018-06-23 08:30] ahmedkaludi commented on #2181
Issue moved to [ahmedkaludi/amp-newspaper-theme #82](https://github.com/ahmedkaludi/amp-newspaper-theme/issues/82) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-23 08:31] #2102 closed

[2018-06-23 08:32] #2208 closed

[2018-06-23 08:35] #2078 closed

[2018-06-23 08:38] MohammedKaludi commented on #2235
:+1:

[2018-06-23 08:38] #2235 closed

[2018-06-23 08:39] ansaritalha opened #2273 "Read more button for post on blog page"
Read more button on the blog page for posts.

Ref: https://wordpress.org/support/topic/feature-requests-151/

[2018-06-23 08:43] MohammedKaludi commented on #2182
@Cosrnos Can you please check and let us know if it fixed, because we are going to push the update on Monday, if we did not get any response from you till Monday, then we have to close the ticket.

You can reopen it again. But will be assigned into next milestone.

[2018-06-23 09:10] MohammedKaludi commented on #2170
:+1:

[2018-06-23 09:10] #2170 closed

[2018-06-23 10:04] MohammedKaludi commented on #2239
:+1:

[2018-06-23 10:04] #2239 closed

[2018-06-23 10:08] ahmedkaludi opened #2274 "Small tasks"
- [x]  The title should be aligned with the posts http://take.ms/9TqzJ

- [x] Add new layouts images in the trello.

[2018-06-23 10:08] MohammedKaludi commented on #2075
Need option to add custom ad id https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/83b1e6886f00fcde464391fa64bc828edf07f557#diff-6aa5512f7dd8d5ce60fc97b0f340912cR7321

[2018-06-23 10:10] #2063 closed

[2018-06-23 10:30] MohammedKaludi commented on #1940
:+1:

[2018-06-23 10:30] #1940 closed

[2018-06-23 10:32] #1923 closed

[2018-06-23 10:37] MohammedKaludi commented on #2237
Working perfectly :+1:

[2018-06-23 10:37] #2237 closed

[2018-06-23 10:41] ahmedkaludi opened #2275 "amp-geo is enabled but unused error"
happening on my pc

[2018-06-23 10:42] MohammedKaludi commented on #2090
:+1:

[2018-06-23 10:42] #2090 closed

[2018-06-23 10:43] ahmedkaludi opened #2276 "Settings Link of extension goes 404"
Settings Link of certain goes 404
- Advanced amp ads is the one of them.

[2018-06-23 10:46] MohammedKaludi commented on #2135
:+1:

[2018-06-23 10:46] #2135 closed

[2018-06-23 10:49] MohammedKaludi commented on #2076
Please don't use PHP_INT_MAX and add proper priority and why the same styling is added twice?

[2018-06-23 11:00] #1530 closed

[2018-06-23 11:00] ahmedkaludi commented on #1530
We will be adding this feature when it's fully out.

[2018-06-23 11:01] ahmedkaludi commented on #2087
We have checked and jetpack pixel seems to be working

[2018-06-23 11:01] #2087 closed

[2018-06-23 11:13] merajali294 opened #2277 "Whenever User is enabling AMP Take Over, is getting error as too many re-directs."
Reference: https://secure.helpscout.net/conversation/603734996/28213?folderId=2090441

I've tried at Local H , by Enabling  AMP Take Over, Opened particular Page --> Enabled Hide Content Option and finally it gives "" Error as To many Re-directs "".

[2018-06-23 11:32] ahmedkaludi commented on #2221
http://take.ms/icQeI
add description like, this extension requires AMP Contact Form 7 or Gravity Forms Extension.

both names should have the links to the extension page. and

If none of the form plugin is activated then the select box should not the empty, it should be hidden.

[2018-06-23 11:51] MARQAS commented on #2276
It has been resolved recently.
If any error comes from extension then check extension code and update it if necessary.

[2018-06-23 11:56] MARQAS commented on #2271
Resolved here: #2275

[2018-06-23 12:23] MohammedKaludi commented on #2228
:+1: Working perfectly, tested by adding many elements from https://ampbyexample.com/#components and its working smoothly.

[2018-06-23 12:23] #2228 closed

[2018-06-23 12:55] #2274 closed

[2018-06-23 12:56] MARQAS commented on #2176
It's working as expected.
There are different options for the excerpt on Single and Homepage/Archives

[2018-06-23 12:57] #2276 closed

[2018-06-23 12:58] #2275 closed

[2018-06-23 13:05] MohammedKaludi commented on #2112
:+1:

[2018-06-23 13:05] #2112 closed

[2018-06-23 13:06] Sejiro-Hiko commented on #2272
this filter `ampforwp_embedd_attrs_handler` can be used to add `data-block-on-consent`

[2018-06-23 13:12] MohammedKaludi commented on #2267
:+1:

[2018-06-23 13:12] #2267 closed

[2018-06-23 13:17] MohammedKaludi commented on #2076
:+1:

[2018-06-23 13:17] #2076 closed

[2018-06-23 13:18] MohammedKaludi commented on #2251
:+1:

[2018-06-23 13:18] #2251 closed

[2018-06-23 13:20] MohammedKaludi commented on #2075
:+1:

[2018-06-23 13:30] MohammedKaludi commented on #2153
:+1:

[2018-06-23 13:30] #2153 closed

[2018-06-23 13:39] MohammedKaludi commented on #2165
:+1:

[2018-06-23 13:39] #2165 closed

[2018-06-23 14:10] MohammedKaludi commented on #2272
:+1:

[2018-06-23 14:10] #2272 closed

[2018-06-23 14:21] MohammedKaludi commented on #2145
:+1:

[2018-06-23 14:21] #2145 closed

[2018-06-23 15:57] ahmedkaludi commented on #1541
This has been added with contact form module

[2018-06-23 15:57] #1541 closed

[2018-06-23 15:58] ahmedkaludi commented on #1542
This has been added with contact form module

[2018-06-23 15:58] #1542 closed

[2018-06-23 16:00] ahmedkaludi commented on #1544
This will be added as extension

[2018-06-23 16:00] #1544 closed

[2018-06-24 14:38] ahmedkaludi commented on #1732
We have a feature called Internal Links feature in #1538

[2018-06-24 14:38] #1732 closed

[2018-06-24 14:51] ahmedkaludi commented on #1670
We glot has added the compatibility with our plugin! Try and let me know.

[2018-06-24 14:51] #1670 closed

[2018-06-24 14:53] ahmedkaludi commented on #1702
we will be adding this feature as an extension.

[2018-06-24 14:53] #1702 closed

[2018-06-24 14:56] ahmedkaludi commented on #1665
this will be added as a part of amp layouts

[2018-06-24 14:56] #1665 closed

[2018-06-24 14:58] ahmedkaludi commented on #1651
with the new AMP page builder v3 and this should be fixed.

[2018-06-24 14:58] #1651 closed

[2018-06-24 15:49] #1454 closed

[2018-06-24 15:49] ahmedkaludi commented on #1454
Issue moved to [ahmedkaludi/tech-amp-theme #21](https://github.com/ahmedkaludi/tech-amp-theme/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-24 16:08] ahmedkaludi commented on #953
The bug with this plugin has been fixed #1503

[2018-06-24 16:08] #953 closed

[2018-06-24 16:10] ahmedkaludi commented on #1528
If this was the case then we would be knowing about it by now

[2018-06-24 16:10] #1528 closed

[2018-06-24 16:34] MohammedKaludi commented on #2229
👍

[2018-06-24 16:34] #2229 closed

[2018-06-24 16:36] ahmedkaludi commented on #2082
Part one is the research part which will be done by Asif.
Based on his report, I'll give instructions to Raju

[2018-06-24 16:44] ahmedkaludi commented on #2271
As per AMP standards, we cannot use amp-notification and amp-consent togeather, so when GDPR is enabled then amp-notification is turned off.

Closing the ticket.

[2018-06-24 16:44] #2271 closed

[2018-06-24 16:45] MohammedKaludi commented on #2229
As per AMP standards, we cannot use amp-notification and amp-consent togeather, so when GDPR is enabled then amp-notification is turned off.

Closing the ticket.

[2018-06-24 16:45] MohammedKaludi commented on #2271
As per AMP standards, we cannot use amp-notification and amp-consent togeather, so when GDPR is enabled then amp-notification is turned off.

Closing the ticket.

[2018-06-24 16:48] MohammedKaludi commented on #2234
working properly.

[2018-06-24 16:48] #2234 closed

[2018-06-25 05:00] ahmedkaludi commented on #2075
Validation issue on frontend when enabling this feature

[2018-06-25 05:09] MohammedKaludi commented on #2121
:+1:

[2018-06-25 05:09] ahmedkaludi commented on #2122
- [ ] LABELS: 1. Global Font Family 2. Content Font family

- [ ] Content Font Family should not be visible until the key is verified

- [ ] Content Font Family should have the same Poppins as default

- [ ] Content Font Family should be connected with the Content Wrapper

- [ ] When we enter the key and hit save, it's empty sometimes.

[2018-06-25 05:51] ahmedkaludi commented on #2221
- [ ] Labels should have the style

- [ ] Duplicate icon on module should have a class

- [ ] The links of proper extensions should be added on the names: http://take.ms/p2kL1

[2018-06-25 06:20] ahmedkaludi commented on #2095
We need to improve the design of this.

[2018-06-25 06:29] MohammedKaludi commented on #2147
Closing this ticket more info about the issue here #1867

[2018-06-25 06:29] #2147 closed

[2018-06-25 06:31] #2221 closed

[2018-06-25 06:32] #2176 closed

[2018-06-25 06:34] #2195 closed

[2018-06-25 07:12] #2075 closed

[2018-06-25 07:15] MohammedKaludi commented on #2226
:+1:

[2018-06-25 07:15] #2226 closed

[2018-06-25 07:41] ahmedkaludi commented on #2148
We can use this method for implementing this feature: https://www.cssscript.com/demo/pure-css-mobile-compatible-responsive-dropdown-menu/#

[2018-06-25 07:45] ahmedkaludi commented on #2249
#2176 already added

[2018-06-25 07:45] #2249 closed

[2018-06-25 07:46] ahmedkaludi commented on #2139
#2148 ticket will have this resolved.

[2018-06-25 07:46] #2139 closed

[2018-06-25 07:47] ahmedkaludi commented on #2148
- [ ] Test this case: #2139

[2018-06-25 07:53] ahmedkaludi commented on #2256
we're already going to create new gallery designs which is assigned to @RajuJeelaga So we will have this if possible.

[2018-06-25 07:53] #2256 closed

[2018-06-25 07:57] merajali294 opened #2278 "Post Pagination is not working from 0.9.86 version in all 3 designs but working in Swift theme."
Whenever User clicks on the ""2nd page"" of the website, the text disappears.

Reference: https://secure.helpscout.net/conversation/597290500/27715?folderId=2090441

[2018-06-25 08:04] #1492 closed

[2018-06-25 08:10] ahmedkaludi commented on #1568
we are going to create new designs for the gallery, so it will be added in that.

[2018-06-25 08:11] #1568 closed

[2018-06-25 08:13] #1514 closed

[2018-06-25 08:32] ahmedkaludi commented on #1576
its when a hosting is moved and a session is trying to access the path, I think it's nothing to do with the  plugin.

[2018-06-25 08:32] #1576 closed

[2018-06-25 08:42] MohammedKaludi commented on #2132
:+1:

[2018-06-25 08:42] #2132 closed

[2018-06-25 08:44] MohammedKaludi commented on #2132
:+1:

[2018-06-25 08:57] MohammedKaludi commented on #1867
:+1:

[2018-06-25 08:57] #1867 closed

[2018-06-25 08:58] MohammedKaludi commented on #2182
@Cosrnos Closing the ticket for now. Please reopen if the issue persists.

[2018-06-25 08:58] #2182 closed

[2018-06-25 09:10] #2095 closed

[2018-06-25 09:10] MohammedKaludi opened #2279 "Category Labels are Clickable on Swift Homepage even Archive support is off"
Category Labels are Clickable on Swift Homepage even Archive support is off

http://take.ms/I4Wj0

[2018-06-25 09:28] MohammedKaludi opened #2280 "Above Loop and Below Loop Sidebar Widget area is not connected with Swift theme"
Above Loop and Below Loop Sidebar Widget area is not connected with Swift theme

http://take.ms/2ldtv

[2018-06-25 10:54] ahmedkaludi opened #2281 "WooCommerce Integration"
WooCommerce Integration

[2018-06-25 11:09] MohammedKaludi commented on #1503
:+1:

[2018-06-25 11:09] #1503 closed

[2018-06-25 11:29] MohammedKaludi commented on #2233
:+1:

[2018-06-25 11:29] #2233 closed

[2018-06-25 12:40] MARQAS commented on #2180
It is not working as expected.
Current Scenario: Custom AMP Editor is getting added with Muffin Builder content. There is no way to override Muffin Builder Content in AMP.

Expected: Muffin Builder should be connected to Main Editor only but not with Custom AMP Editor.
Custom AMP Editor should be standalone and it should be able to override the Muffin Builder content as well.

[2018-06-25 12:41] MARQAS commented on #2137
Not working as expected.

Current Scenario:  Muffin Builder is disable on Custom FrontPage.

Expected: It should work same as Posts/Pages.

[2018-06-25 12:50] MARQAS commented on #2202
There is no other option.
We Will improve this once amp-consent and amp-geo gets more features/improved.
Closing this for now.

[2018-06-25 12:50] #2202 closed

[2018-06-25 19:01] JWHBerlin opened #2283 "Google Fonts deactivation"
In the actual version, Google Fonts are loaded. In case of GDPR it is not allowed to use Google Fonts without opt-in. Is it possible to add a feature for local loading Fonts or deactivate Google Fonts?

[2018-06-26 06:41] Sejiro-Hiko commented on #2278
The post pagination is working in All designs of the 0.9.97 developmental version will check this once the user updates to the latest version of the plugin.

[2018-06-26 06:59] Sejiro-Hiko commented on #2283
@JWHBerlin you mean that when GDPR is enabled the Google Fonts should be deactivated or you want an entirely separate option to deactivate Google Fonts irrespective of GDPR option?

[2018-06-26 07:23] ajeetku opened #2284 "Add Wpforms extension in amp option panel"
Need to Add WPforms Extension array in amp-config file
Admin config warning need to remove

[2018-06-26 07:32] Sejiro-Hiko commented on #2039
@markifornia are you still facing this issue? please do let us know.

[2018-06-26 07:38] Sejiro-Hiko commented on #1762
Hi @adrianleira ,

can you please update us on this issue? we're to tackle this issue if you are still facing it, please update us by 10th of July-2018 or we'll be closing this ticket as "resolved"

[2018-06-26 07:52] MohammedKaludi commented on #2284
:+1:

[2018-06-26 07:52] #2284 closed

[2018-06-26 10:34] beingsmart3 opened #2285 "Aq_Resize.process() errors for images hosted on CDN"
Ref:  https://wordpress.org/support/topic/aq_resize-process-errors-for-images-hosted-on-cdn/

https://secure.helpscout.net/conversation/605631781/28381?folderId=1914712

[2018-06-26 10:36] MohammedKaludi commented on #2253
#2168

[2018-06-26 11:35] Sejiro-Hiko commented on #1580
@Ysery can you please check with version 0.9.97 and let us know?

[2018-06-26 11:41] Sejiro-Hiko commented on #2160
fixed in #1522

[2018-06-26 12:06] Sejiro-Hiko commented on #1908
@ob-ivan your pull request has been merged and all the issues related to the `aq_resizer` are resolved so I'm closing this ticket and if there's anything left out please create a new ticket.

[2018-06-26 12:06] #1908 closed

[2018-06-26 13:00] MohammedKaludi commented on #2160
:+1:

[2018-06-26 13:00] #2160 closed

[2018-06-26 13:28] MARQAS commented on #2219
@zhouyx Is there any problem in using `data-block-on-consent` in all components?
If a user enables the GDPR option then it will be added to almost all the components. Is there any problem with that? I found that it will block all components if a user select reject from consent and I guess that should be the case for GDPR compliancy, isn't it?
Are there any components which don't need `data-block-o

[2018-06-26 13:39] Sejiro-Hiko commented on #1611
@ob-ivan it's a great suggestion, we can add it but the same thing can be achieved through role management plugins right such as "user role editor".

[2018-06-26 13:43] Sejiro-Hiko commented on #1615
@iparrabb we've added the gist support you can check that and can you describe little more about the crayon issue?

[2018-06-26 14:14] ob-ivan commented on #1611
@Sejiro-Hiko I no longer work with WordPress and I can't verify your suggestion. If you believe that capabilities map is superfluos, please, feel free to close the issue.

[2018-06-26 20:19] JWHBerlin commented on #2283
In my opinion, in GDPR-Mode Google Fonts could be automatically disabled.

[2018-06-26 20:21] zhouyx commented on #2219
@MARQAS
Technically you can use `data-block-on-consent` in all components. Although it may bring deadlock if you add the attribute to `<amp-consent>` or `<amp-geo>`
It's perfectly fine to add `data-block-on-consent` to all components. And it's really publisher's decision on which components to block when consent is not given or rejected. `data-block-on-consent` is simply a tool to help you achieve

[2018-06-27 04:01] ahmedkaludi opened #2286 "Featured Image on the Pages"
Featured Image on the Pages
https://www.youtube.com/watch?time_continue=257&v=vc43qPWvK5I
https://wordpress.org/support/topic/works-great-learn-about-amp-before-complaining/#post-10437796

[2018-06-27 05:25] ahmedkaludi opened #2287 "AMP by Automattic Compatibility"
AMP by Automattic Compatibility

[2018-06-27 05:27] ahmedkaludi opened #2288 "Reports and Analytics"
We need a reports area where we can show people, the current AMP pages, Validated and indexed. As well as how much traffic they got to AMP vs Non-AMP.

[2018-06-27 05:39] Sejiro-Hiko commented on #2283
@JWHBerlin thanks for the reply I got your point and will start working towards a good solution for such situations.

[2018-06-27 05:56] ansaritalha opened #2289 "Pagination is not working on date archive"
Pagination is not working on date archive [showing the same posts]

Ref: https://secure.helpscout.net/conversation/608230947/28728/?folderId=673452
Ref: localhost

[2018-06-27 07:13] MARQAS commented on #2219
@zhouyx, Thanks for the detailed information!
If there's no problem in having `data-block-on-consent`, then I guess we can keep it.
Or is there a way to check the countries mentioned in amp-geo globally? Currently, we can use it amp-consent but is there a way to store it in a global variable to use it in anywhere?
As far as I know, it's not available but is it possible?

[2018-06-27 07:46] MohammedKaludi commented on #2286
:+1:

[2018-06-27 07:46] #2286 closed

[2018-06-27 08:25] ToufiqSuhail opened #2290 "Need to show index/noindex when enabling the options in SEO"
- [x] The user should get to know the usage of enabling the option when the options in Advanced Indexing is enabled. (Should get a message of index/no-index on hovering the options)

- [x] Archive subpages (sitewide) option is not working in design 3

- [x] Validation issue on noindex.
When  we are doing noindex to index the validation issue gets fix, but what about the others users who dont want

[2018-06-27 09:03] merajali294 opened #2291 "Convert to WP Option is displayed in Swift Theme, but not in Design 3."
Reference: https://secure.helpscout.net/conversation/607273110/28535?folderId=2090441

This user was using Swift Theme and enabled Convert to WP Option then forgot to disable it and switched to Design 3 in which Convert to WP Option  is not available due to which he was facing lot of errors.

Now Disabled the Convert to WP Option in Swift Theme , enabled AMP Takeover and again switched to Design 3

[2018-06-27 09:03] Zabi09 opened #2292 "Need to have only one text-domain in the string of the plugin"
Need to have only one text-domain in the string of the plugin
Screenshot: http://take.ms/PFJiU
Ref: https://secure.helpscout.net/conversation/605624575/28380?folderId=673457

[2018-06-27 10:23] ansaritalha opened #2293 "Disable the look or check of redux framework"
Disabling the look or check of redux  framework [on line no 228]

Ref: https://wordpress.org/support/topic/redux-suspect/

[2018-06-27 10:34] Sejiro-Hiko commented on #1611
@ob-ivan thank you for your swift reply, we'll be closing this ticket if any other users request it we'll reopen this issue.

[2018-06-27 10:34] #1611 closed

[2018-06-27 10:37] ahmedkaludi opened #2294 ""X" button in the menu of D3"
"X" button in the menu of D3
https://wordpress.org/support/topic/feature-requests-151/#post-10438037

[2018-06-27 11:03] Sejiro-Hiko commented on #2285
the issue seems to from the theme called "bitz" as they too have the file `aq_resize.php` where they throw the exception. asked user to change the theme for debugging purpose and check the error logs.

[2018-06-27 11:43] MARQAS commented on #2134
Resolved here: #2228

[2018-06-27 13:41] MohammedKaludi commented on #2134
@MARQAS have you tested it in the localhost?

[2018-06-27 22:52] SchDen commented on #2110
Sorry, but after install 0.9.97.1 - it's not still not working for me. I have empty <body></body>

[2018-06-28 05:46] santosh8793 commented on #2279
I have added responsive sidebar menu functionality using walker class, some commented styles are there in style.php and menu.php which are needed to be tested for any design issues

[2018-06-28 05:58] merajali294 commented on #2278
I've tested at User's end and on Ver 0.9.97, it's working and the issue is resolved.

[2018-06-28 08:17] merajali294 opened #2295 "Subscribe to Notification."
Option to be created is User should get the Push Notification in the Header part and also in the Sticky Part as well.

Reference: https://secure.helpscout.net/conversation/608104433/28668?folderId=2090441

[2018-06-28 08:56] MARQAS commented on #2178
Resolved here: https://github.com/MohammedKaludi/plugin-manager/issues/3

[2018-06-28 09:03] MARQAS opened #2296 "Retina Images option Improvement-II"
It should work with related posts as well.
ref: Sage (https://fargo1ife.com)

[2018-06-28 10:19] MohammedKaludi commented on #2178
Fatal error: Uncaught Error: Class ‘ReduxCore’ not found […] the problem was found on the plugin manager .php file.
Fixed : https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/8a9950db792933524f29c6ec7df5077182685a40

[2018-06-28 11:30] santosh8793 commented on #2148
I have added responsive sidebar menu functionality using walker class, some commented styles are there in style.php and menu.php which are needed to be tested for any design issues

[2018-06-28 12:23] ansaritalha opened #2298 "compatibility for YouTube embed plugin"
compatibility for youtube embed plus plugin [https://wordpress.org/plugins/youtube-embed-plus/]

Ref: https://wordpress.org/support/topic/is-youtube-pro-12-working-with-amp/

[2018-06-28 12:32] merajali294 opened #2299 "Performance issues."
1. Reference: https://secure.helpscout.net/conversation/606583543/28481?folderId=2090441

[2018-06-28 15:39] praderj opened #2300 "Bug in Facebook comments."
Hello Team.
Thank you for the awesome plugin. I have been using this plugin ever since I started using AMP. With the recent update, facebook comment seems to be not working. Google webmaster tools show this error "The mandatory attribute 'data-href' is missing in tag 'amp-facebook-comments'.". Kindly fix this issue. Thank you!

[2018-06-28 16:16] ahmedkaludi commented on #2300
Can you share the URL?

[2018-06-28 17:45] zhouyx commented on #2219
`<amp-geo>` generates css classes and applies them to the `body` for publishers to customize their content. Detail information can be found [here](https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/amp-geo.md#generated-css-classes).

[2018-06-29 05:54] RajuJeelaga commented on #2248
- [ ] Slider design 3 Dots Functionality not working properly [Ajeet]

- [ ] Slider Desing 4 Required Filed is not working [Ajeet].

[2018-06-29 11:42] MohammedKaludi commented on #2281
@ahmedkaludi. Can you please get back to this ticket, need your feedback.

[2018-06-29 12:44] MohammedKaludi commented on #2279
:+1:

[2018-06-29 12:50] MohammedKaludi commented on #1501
:+1:

[2018-06-29 12:55] MohammedKaludi commented on #2273
@ahmedkaludi need your review in design for read more text.

[2018-06-29 12:58] MohammedKaludi commented on #1522
:+1:

[2018-06-29 13:01] ToufiqSuhail opened #2301 "Need to create an option to hide all posts (Individual AMP Post (Bulk Edit))"
Need to create an option to hide all the post naming Individual AMP Post (Bulk Edit) similar like which is made for Individual AMP Pages(Bulk Edit), where the bulk of posts should get hidden. Also, make sure to highlight the difference between them so that the users do not get confused.

Ref: https://secure.helpscout.net/conversation/610630499/29052?folderId=2075531

[2018-06-29 13:51] RajuJeelaga commented on #2248
- [ ] Slider Design 4 Html and css added and connected to option and pgb 016648b

[2018-06-29 15:30] gareththomasnz commented on #1575
A large number of people are unable to render post content with thrivethemes & AMP. It works on most of my posts but some have header/footer & no content. Thrive currently does not plan to support AMP. Its not just  this plugin either - the other main one has similar issue with thrive.

[2018-06-29 15:42] MohammedKaludi commented on #2240
This is resolved in the recent update.

[2018-06-29 15:42] #2240 closed

[2018-06-29 22:46] gareththomasnz commented on #1575
thanks tewfik-dj  your fix seems to work

[2018-06-30 04:55] ahmedkaludi opened #2302 "Beta Testing link in the Options panel"
We need to invite the power users to become a beta tester: https://ampforwp.com/beta-test/

[2018-06-30 05:02] Sejiro-Hiko commented on #2136
Should have a different option in the option panel of "page"

[2018-06-30 06:30] MohammedKaludi commented on #2278
:+1:

[2018-06-30 06:30] #2278 closed

[2018-06-30 06:33] MohammedKaludi commented on #2039
Duplicate ticket #2273

[2018-06-30 09:57] ToufiqSuhail opened #2303 "No Index issue"
- [x] Find the value of the Seo Plugin Integration.

- [x] Need to add one more option of sequence integration in such a way that the user can select no integration option if they do not want to use it.

- [x] When both the third party SEO plugins and Advanced Indexing are in enabled status, the noindex issue should get fixed.

[2018-06-30 10:17] MohammedKaludi commented on #1601
rename the filter from `ampforwp_cat_posts_slider` to `ampforwp_d3_featured_slider_args`

[2018-06-30 10:35] MohammedKaludi commented on #887
:+1:

[2018-06-30 12:11] Sejiro-Hiko commented on #1610
need more to exactly what is missing as per my testing it seems the styling is properly getting added.

[2018-07-02 08:40] githubjabbar opened #2304 "AMP Take over is applying even on product when this option is enabled only for posts."
REF: https://secure.helpscout.net/conversation/609140913/28874/?folderId=1680011

Steps to recreate the issue:
1)Enable the AMP take over only on Posts.
2)Disable the AMP on Pages and Archives
3)There should be no AMP woocommerce plugin.

Note: Whoever is working on this ticket please notify the customer that in which update version this issue is going to be fixed.

[2018-07-02 09:03] santosh8793 opened #2305 "PageBulider getting following notices in old module"
Notice: Undefined variable: repeaterUniqueId in C:\xampp\htdocs\wordpress496\wp-content\plugins\accelerated-mobile-pages\pagebuilder\inc\viewShowFrontData.php on line 901

Notice: Undefined variable: repeaterUniqueId in C:\xampp\htdocs\wordpress496\wp-content\plugins\accelerated-mobile-pages\pagebuilder\inc\viewShowFrontData.php on line 904

[2018-07-02 10:46] MohammedKaludi commented on #2289
There is the static code in year and month https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/55f5fbf3de467e8a2af6d3c5b5c75121853b445b#diff-4c7e8aaf3d2ea6555ce6cdd4ecae8e69R187

[2018-07-02 10:52] MohammedKaludi commented on #2270
:+1:

[2018-07-02 10:53] MohammedKaludi commented on #2257
@santosh8793 why it is in Review Q/A Queue directly?

[2018-07-02 10:54] MohammedKaludi commented on #1475
@Sejiro-Hiko Please use esc_url($custom_iframe_url) to escape the url.

[2018-07-02 10:55] #2039 closed

[2018-07-02 11:07] MohammedKaludi commented on #2136
Page featured image is not working http://take.ms/gnbhQ

[2018-07-02 11:10] MohammedKaludi commented on #1474
Please use esc_url function to escape url.

https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/7d21dd631cd9fc5a5480db74c36078d9faff867a#diff-6aa5512f7dd8d5ce60fc97b0f340912cR4314

[2018-07-02 12:39] ChristophHess opened #2306 "Text error"
On the site [https://ampforwp.com/plugins-manager/](url)

the phrase

is printed twice.

Also later in the text it should be

instead of

[2018-07-02 13:01] MohammedKaludi commented on #2136
:+1:

[2018-07-02 13:01] #2136 closed

[2018-07-02 13:35] MARQAS commented on #2134
Yes, I did.
Custom AMP Editor: http://take.ms/IDbaq
Output: http://take.ms/m9Yt3

[2018-07-02 14:23] santosh8793 commented on #1525
I have checked it in 4.8.5 version, there was no error, all pages are displaying properly

[2018-07-02 14:54] MohammedKaludi commented on #1474
@Sejiro-Hiko why do we need `?ia_markup=1` in the url?
is it required?

[2018-07-02 15:07] MohammedKaludi commented on #2289
Pagination working but content not loading in swift theme http://take.ms/3kcKQ

[2018-07-02 15:21] MohammedKaludi commented on #1525
:+1:

[2018-07-02 15:21] #1525 closed

[2018-07-02 15:28] MohammedKaludi commented on #1475
:+1:

[2018-07-03 05:05] Sejiro-Hiko commented on #1474
@MohammedKaludi the Facebook's official plugin does add it so I thought It's might be necessary even though what they said in the documentation is:
 The URL (self-hosted, public) containing the Instant Article markup for the respective page:
`<meta property="ia:markup_url" content="{URL}">`

[2018-07-03 05:42] Sejiro-Hiko commented on #2289
@MohammedKaludi doesn't that require a different issue ticket than this one?

[2018-07-03 06:27] Zabi09 opened #2308 "Sort Related Posts Randomly Not Working in Swift theme"
Sort Related Posts Randomly Not Working in Swift theme
Ref: https://secure.helpscout.net/conversation/601895491/28074?folderId=1932625

[2018-07-03 06:28] beingsmart3 opened #2309 "Rss Feed is not working when AMP Takeover is enabled"
Ref:  https://secure.helpscout.net/conversation/611849290/29198?folderId=1914712

[2018-07-03 07:00] Zabi09 opened #2310 "Fatal error in contact form module while ninja form or gravity form plugins is not available"
Fatal error in contact form module while ninja form or gravity form plugins is not available
Screenshot: http://take.ms/bTiUJ
Ref:https://secure.helpscout.net/conversation/611670034/29168/?folderId=1932625

[2018-07-03 08:59] MohammedKaludi commented on #1491
:+1:

[2018-07-03 09:06] MohammedKaludi commented on #1491
Months and year text is translating properly and Ago will now be translatable.

[2018-07-03 09:10] MohammedKaludi commented on #2257
:+1: it's working properly.

`<marquee>` tag is converting into `<p>` tag and there is no validation error.

[2018-07-03 09:10] #2257 closed

[2018-07-03 09:14] MohammedKaludi commented on #2289
@Sejiro-Hiko Query is not working properly, please contact me so I can show what is breaking.

[2018-07-03 09:19] MohammedKaludi commented on #1474
Yes, I read that and I don't think we need `?ia_markup=1` query args in the URL, as it says you just need the url of the content, but keeping like this has no harm.

I did not see any examples containing the query args, but as you mentioned Facebook's official plugin has, so keeping it in the url.

Otherwise, this feature is working correctly.
Closing the ticket.

[2018-07-03 09:36] MohammedKaludi commented on #2310
:+1: well done @Zabi09
Use single quote in `class_exists `
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/eeb2c143f6320b22ef9d327c98c930a34836f51e#diff-47ce7951ebd6ff204ab69e728e853983R48

[2018-07-03 09:39] MohammedKaludi commented on #2134
the advert code is working, but we need to preserve the ad code when we switch from Visual to Text in the post editor, currently, it is stripping out by the text editor.

@ahmedkaludi what do you say about this?

[2018-07-03 09:58] MohammedKaludi commented on #2289
Working now after resaving the permalink.

[2018-07-03 10:42] MohammedKaludi commented on #2270
Breaking in related posts: http://take.ms/AEtlY
Design: Swift

[2018-07-03 11:35] beingsmart3 commented on #2299
2. https://secure.helpscout.net/conversation/599346811/27907?folderId=1914712

Performace issue and there are 87,211 posts and he is excluding the certain categories.

see this screenshot:  http://take.ms/mzL1m

[2018-07-03 13:44] ToufiqSuhail opened #2311 "In swift theme, when user ads the ad Above the Related Posts (Single Post); the content doesn't display"
In swift theme, when the user enables the ad **Above the Related Posts (Single Post)**; the content doesn't display. When disabled, the content displays.

Ref: https://secure.helpscout.net/conversation/611871311/29203?folderId=2075531

[2018-07-04 03:41] shtefcs opened #2312 "Custom Fields with AMP"
Hi Ahmed,

Awesome plugin man. I am so excited to push my experiment to the productions.

However, I got stuck with replacing *thumb link* with custom field, which is in this case url.

I am using **[Advanced Custom Field](https://wordpress.org/plugins/advanced-custom-fields/)s** and created custom field called `source_url`. I want to use it instead of thumbnail default post url.

I figured that i

[2018-07-04 05:45] shtefcs commented on #2312
This was the fix `echo '<a href="'.get_field('source_url').'" rel="nofollow">';` by the awesome @entrptaher

[2018-07-04 06:16] ahmedkaludi opened #2313 "Facebook amp pixel throws validation error"
FB amp pixel throws validation error

[2018-07-04 07:16] ahmedkaludi opened #2314 "AMP Plugin manager tests"
- [ ] Old version of AMP with New version of Plugin manager
- [ ] New version of Plugin manager with Old version of AMP plugin

[2018-07-04 07:16] MohammedKaludi commented on #2270
It still breaks design 2 and 3. Its now working fine in D1 and swift.

[2018-07-04 08:31] MohammedKaludi commented on #1503
Proper integration of Relevanssi done in  #2307

[2018-07-04 08:32] MohammedKaludi commented on #953
Proper integration of Relevanssi done in  #2307

[2018-07-04 08:47] MohammedKaludi commented on #2312
great closing the ticket.

[2018-07-04 08:47] #2312 closed

[2018-07-04 08:48] #2313 closed

[2018-07-04 08:49] MohammedKaludi commented on #2313
This is fixed and moving the ticket to w14, as this will be pushed immediately.

[2018-07-04 08:50] ahmedkaludi opened #2315 "Beta Issues"

[2018-07-04 08:52] merajali294 commented on #2315
- [ ] 1. https://monosnap.com/file/FDEOLShMQt23pfaTQqTBRJwsdKi5zq :
Display should be called Visibility and it should be below the "Discussion Section"

[2018-07-04 08:53] merajali294 commented on #2315
- [ ] 2. Header Design should not be displayed if it doesn't have Header designs (currently it's set to D3)

[2018-07-04 08:55] merajali294 commented on #2315
- [ ] 3. Same thing with Footer Design as with Number 2 https://monosnap.com/file/JGMpmWDF1wgkftzjGkmk0D50IY5DCr

[2018-07-04 08:56] merajali294 commented on #2315
- [ ] 4. Why is this outside https://monosnap.com/file/bJZB1n2byDsfe8QnBTS09y7UdhiwJX ?

[2018-07-04 11:12] MohammedKaludi commented on #2310
:+1:

[2018-07-04 11:12] #2310 closed

[2018-07-04 11:46] #1959 closed

[2018-07-04 11:47] MohammedKaludi commented on #2183
yes

[2018-07-04 12:15] ahmedkaludi commented on #1906
We found the solution!

We have already tackled this in the new ticket: #2148

[2018-07-04 12:15] #1906 closed

[2018-07-04 12:17] ahmedkaludi commented on #1704
we have tackled this types of issues in the recent update

[2018-07-04 12:17] #1704 closed

[2018-07-04 12:19] #1382 closed

[2018-07-04 12:21] ahmedkaludi commented on #1499
We will be adding this feature into https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1676

[2018-07-04 12:21] #1499 closed

[2018-07-04 12:50] Sejiro-Hiko commented on #1691
need to improve the toggle's CSS effect.

[2018-07-04 13:33] MARQAS commented on #1524
The example links for instant articles feed of specific category/tag are:
category: http://www.example.com/category/categoryname/feed/instants_articles
tag: http://www.example.com/tag/tagname/feed/instants_articles

[2018-07-04 14:14] beingsmart3 opened #2316 "Need to solve the issue of json+ld with wprm plugin"
Resolve the error of Json+ld with WPrm plugin json

Ref:  https://secure.helpscout.net/conversation/611765346/29181?folderId=1914712

see this screenshot:  http://take.ms/3CHEO

`<script type="application/ld+json">{"@context":"http:\/\/schema.org\/","@type":"Recipe","name":"\u9ec4\u74dc\u7c89\u4e1d (hu\u00e1nggu\u0101 f\u011bns\u012b) - chinesischer Gurkensalat mit Glasnudeln","author":{"@type":"P

[2018-07-04 15:12] #2314 closed

[2018-07-05 05:56] ahmedkaludi commented on #1968
This is related to the gallery that is inserted with in the Visual editor through shortcode.

- [ ] 1. Make the Gallery shortcode output modifiable so that Frontend team can give multiple designs for the Gallery.

- [ ] 2. Give designs for the Gallery which can be selected from the Options panel

[2018-07-05 06:30] Sejiro-Hiko commented on #1490
@reasecret do you want to change the width of the images in the gallery right? how about we make the caption to be the same width as those original images which will be great in my view instead of changing the width of images which might affect the quality?

Let me know what you think..

[2018-07-05 06:53] MARQAS commented on #1489
The example links for instant articles feed of specific taxonomy is:
taxonomy: http://www.example.com/taxonomy/taxonomyname/feed/instants_articles

[2018-07-05 08:08] StubRavi opened #2318 "In swift theme, main content (texts) are not visible due to "Responsive ad unit""
In swift theme, After enabling the 'Responsive Ad Unit' (under the advertisement position setting), the content of the post doesn't show. Ads are visible and related posts are also visible ( with the thumbnail more than the screen size), but main content (texts) are not visible. I disabled the "Responsive ad unit" and now it is working like before.

[2018-07-05 08:17] Sejiro-Hiko commented on #1645
the issue was related to the search query and now it's seems working fine on the user's end as well just waiting for the user's confirmation.

[2018-07-05 08:30] Sejiro-Hiko commented on #1681
@MisterRaj are you asking for the sharing option for Instagram?

[2018-07-05 08:47] ToufiqSuhail opened #2319 "Image light-box is being added in the footer section which is creating validation error."
In Widget area, Image light-box trying to generate the lightbox to the social icons that are in the footer section and creating Image light-box validation error.

Ref: https://secure.helpscout.net/conversation/492871180/19662?folderId=2075531

[2018-07-05 08:57] beingsmart3 opened #2320 "Color picker for Footer Area"
People are demanding for Color picker for Footer Area

Ref:  https://secure.helpscout.net/conversation/612647582/29279?folderId=1914712

[2018-07-05 09:08] ahmedkaludi commented on #1610
Approved

[2018-07-05 09:08] #1610 closed

[2018-07-05 09:20] ahmedkaludi commented on #1577
border color should be connected with global color scheme

[2018-07-05 09:32] ahmedkaludi commented on #2073
Not working as expected. Here's what you can do.

1. Insert a large featured image
2. insert an image in the visual editor
3. Enable "Convert to WP" option
4. Now, match the amp and Non-amp images.

You will find the issue with the images. If you are not able to understand then let me know, i'll show on my localhost.

[2018-07-05 09:40] ahmedkaludi commented on #1545
- [ ] The excerpt should be turned off by default if the Verticle is selected

- [ ] Styling of excerpt

- [ ]

[2018-07-05 09:43] ahmedkaludi commented on #2273
- [ ] There should be an option under AMP > Design > Homepage > 'Loop Display Controls' called "Read More Link"

- [ ] by default, this option should be off, if they want, they can enable it

[2018-07-05 09:59] MohammedKaludi opened #2321 "if String in Structured data breaking the page and throwing fatal error (lance)"
if String in Structured data breaking the page and throwing a fatal error (lance ).

line number 1489:
	        $metadata['publisher']['logo'] = array(
	          '@type'   => 'ImageObject',
	          'url'     =>  $structured_data_logo ,
	          'height'  => $ampforwp_sd_height,
	          'width'   => $ampforwp_sd_width,
	        );

need to wrap this code in `if ( isset( $metadata['publishe

[2018-07-05 10:04] ahmedkaludi commented on #2281
- [ ] Description should have text domain? I think "Click here for more info" is not translatable?

[2018-07-05 10:08] MohammedKaludi commented on #1489
:+1:

[2018-07-05 10:08] ahmedkaludi commented on #1305
The styling is correct, In my opinion.

[2018-07-05 10:10] MohammedKaludi commented on #1305
:+1:

[2018-07-05 10:14] Sejiro-Hiko commented on #1692
@steverep I've tested the accessible tables in AMP and they are working as it should so If you could give us more information on your use case so we can discuss more on this issue and works towards the solution or we'll be closing this ticket.

[2018-07-05 10:17] MARQAS commented on #1484
This ticket is covered in #1486 #1483 #1634 #1297 #1524 #1089 #1489

I guess those features can cover this ticket, except one or two like adding code for specific posts, placement manager etc.. But I believe we should cover those things when more users ask for it and ready to use them.

[2018-07-05 10:47] beingsmart3 commented on #2121
One more issue, the custom CSS option is not working when this plugin "Plethora Features Library" is active

Ref:  https://secure.helpscout.net/conversation/613354574/29334?folderId=1914712

[2018-07-05 11:03] Sejiro-Hiko commented on #2318
the issue is related to the div `sp-lt` should have `max-width`

[2018-07-05 11:18] ToufiqSuhail opened #2322 "The Lazy load images not loading in the AMP version when the user activate Customizr Theme. Need to add its compatibility."
Lazy load images not loading in AMP when the Customizr Theme is Activated. Need to add its compatibility. No option of lazy load displays for the specific theme

Ref: https://secure.helpscout.net/conversation/612231120/29235?folderId=2075531

[2018-07-05 12:40] MARQAS commented on #1533
So as suggested by @beingsmart3 I deleted all the posts and checked if amp is working on pages/FrontPage or not.
It is working perfectly fine. Pages and FrontPage are working without any issues.
I have tested with different WordPress versions as well ( 4.8.6 and 4.9.6)

[2018-07-05 12:41] MARQAS commented on #1533
I guess the user was talking about the Product categories and he didn't activate the AMP on products.

[2018-07-05 12:56] Sejiro-Hiko commented on #2306
Ref: http://take.ms/QJh5s

[2018-07-05 12:58] Zabi09 commented on #2306
Fixed
Ref: https://ampforwp.com/plugins-manager/

[2018-07-05 13:44] ajeetku opened #2323 "AMP Pagebuilder modules and settings are loading By default"
Need to Resolve Performance:
1. All modules and settings are loading default. [Currently No restriction on modules]
     Ex: Category module is loading all times and runs a gives a slow query
2. Backend: We can load get categories by AJAX [Result: If we do with ajax field will load easily ]

[2018-07-05 14:57] zaletskyi opened #2324 "Import/export settings"
Hey there,

Would be possible to import/export AMP plugin setting in near future?

Thanks

[2018-07-05 15:35] praderj commented on #2300
The Problem was resolved in an update and with the latest update, the problem is back again. You can see an example here https://www.catholicgallery.org/mass-reading/170220/amp/ .

[2018-07-05 15:44] praderj commented on #2300
I tried the AMP validator and it shows the following error.
![image](https://user-images.githubusercontent.com/5558747/42333456-66a95768-8098-11e8-84f7-70f3c265df64.png)

[2018-07-06 05:27] merajali294 opened #2325 "When WooCommerce Product Slider is Installed , the Picture of Icons is not being displayed."
Reference: https://secure.helpscout.net/conversation/610623510/29051?folderId=2090441

When WooCommerce Product Slider is Installed, the Picture of Icons is not being displayed such as given below: https://monosnap.com/file/zVenNVeH5qQpcJviZYQnQhHJKJYMo5

When WooCommerce Product Slider is de-activated the Icons Tray Pictures are again displayed.

[2018-07-06 06:46] Sejiro-Hiko commented on #1490
@reasecret we do have this filter `amp_gallery_image_params` which you can use to change the parameters of the images such as `width` and `height` of if you need our help in implement this on your end you can contact us through here `ampforwp.com/support/` of if you want to resize the caption width to that of original image sizes then we can help you in that also through `CSS`

[2018-07-06 07:02] ajeetku opened #2326 "Add an PWA Settings in AMP option panel"
Add an PWA  Settings in AMP option panel

[2018-07-06 07:25] ToufiqSuhail opened #2327 "Found Fatal error and Warnings in the debugging section."
Here are the errors and working details.

[03-Jul-2018 12:27:07 UTC] PHP Warning:  Illegal string offset 'publisher' in /var/sites/c/counterinteriors.co.uk/public_html/wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 1403
[03-Jul-2018 12:27:07 UTC] PHP Fatal error:  Uncaught Error: Cannot use string offset as an array in /var/sites/c/counterinteriors.co.uk/public_html/wp-

[2018-07-06 09:59] ahmedkaludi commented on #2324
@zaletskyi We already have this feature in the options panel

See the screenshot: http://take.ms/PX8Fk

[2018-07-06 09:59] #2324 closed

[2018-07-06 10:21] ahmedkaludi commented on #2273
- [ ] There should be a space between the excerpt and Read more link: http://take.ms/nAxXK

[2018-07-06 11:17] santosh8793 commented on #2073
we have tested this from our end, it is working fine

[2018-07-06 11:42] santosh8793 commented on #2319
I have tested this, it is working fine in our system, maybe we need to check this from the user end

[2018-07-06 12:30] ToufiqSuhail opened #2328 "Featured Image is getting applied on the top section in each and every page."
In the latest update, Featured images are appearing at the top of all APM pages.

Ref: https://secure.helpscout.net/conversation/609736559/28963/?folderId=2075531

[2018-07-06 12:34] Zabi09 commented on #2311
Duplicate ticket - #2318

[2018-07-07 08:03] githubjabbar opened #2329 "<p> tags are not getting added in Swift theme in the Latest Version 0.9.97.3"
REF: https://secure.helpscout.net/conversation/614861208/29492?folderId=1680016

Description: <p> tags are not getting added in Swift theme in the Latest Version 0.9.97.3 due to which the Incontent Ads are not showing in AMP.

[2018-07-07 08:08] Sejiro-Hiko commented on #2269
For now I've added only for D1,D2 and D3.

[2018-07-07 08:30] beingsmart3 commented on #2327
One More Ref:  https://secure.helpscout.net/conversation/616069391/29601?folderId=1914712

Fatal error: Cannot use string offset as an array in /home/trilliumeyecare/public_html/trilliumeyecare.com/wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 1489

[2018-07-07 09:35] MohammedKaludi commented on #2269
@ahmedkaludi needs styling for all the designs

[2018-07-07 10:48] githubjabbar opened #2330 "WP Bakery Page builder is not working on Pages and Post in the Latest version of 0.9.97.3"
REF: https://secure.helpscout.net/conversation/609750688/28967?folderId=1680011

[2018-07-07 11:13] MARQAS commented on #1984
Resolved here: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1954

[2018-07-07 12:06] SageFargo opened #2331 "“Recent Posts” padding is messed up,"
“Recent Posts” padding is messed up, no space between title and posts.
Also no space on left side.
![0087d65e-fce5-4d13-951c-aca58a86a658](https://user-images.githubusercontent.com/40724154/42410715-184aae36-81f7-11e8-9dc5-cbd1418f927c.jpeg)
![51a64ea2-e4b8-4a71-9460-4410fbdba383](https://user-images.githubusercontent.com/40724154/42410731-59b366e2-81f7-11e8-99da-c9d81595c9bc.jpeg)

[2018-07-07 12:07] SageFargo commented on #2331
Open photo* thumbnail makes it look like there’s is space. View the full photo.

[2018-07-07 12:10] SageFargo commented on #2331
This issue is in-post, under “Related Posts.” It is the “Recent Posts” block.

[2018-07-07 12:17] MARQAS commented on #2254
Resolved: https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/4aa1b8170b7ba42d4edaf55a797c3cce1f4e9a1d#diff-d9e62bf7636c72ea611757e43f70c46e
https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2279

[2018-07-07 12:19] merajali294 opened #2332 "Issues in Beta Version 0.9.98"
- [x] 1. Potential issues after installing the Beta Version at user's end, tested by Me and Ahmed Sir.

 Ex 1 : Ampforwp_Walker_Nav_Menu->

Example Video: https://monosnap.com/file/rpKmuYU1YUCHoXcxsXIWBogtODNBFV

[2018-07-07 12:43] RajuJeelaga commented on #2167
Marqas Approved this ticket.

[2018-07-07 12:43] #2167 closed

[2018-07-07 12:46] RajuJeelaga commented on #1577
Raju Approved.

[2018-07-07 12:46] #1577 closed

[2018-07-07 12:48] RajuJeelaga commented on #2148
- [ ] Issue number #2332 is connected to this ticket

[2018-07-07 13:39] pegazee opened #2333 "Woo Commerce Category page is not working"
Woo Commerce Category page is rendering to the Homepage.

URLs:
http://music.rushisbiz.com/product-category/pdf/
http://music.rushisbiz.com/product-category/pdf/amp/

Extension Trello card URL > https://trello.com/c/9Vmj4QC6/273-homepage-is-rendering-on-the-product-pagerushis-biz

[2018-07-07 13:50] MARQAS commented on #1774
tested with different WPSSO plugins but unable to find the issue. It seems that they have added the compatibility of our plugin.
They have mentioned it: https://wordpress.org/plugins/wpsso/

[2018-07-07 13:51] SageFargo opened #2334 "Retina featured images support"
After creating page with “Page Builder” and adding category, featured images are blurry, no retina support on them.
On homepage and category archives retina support work.

[2018-07-07 13:54] SageFargo commented on #2334
![3f42c5a6-5824-4286-8001-fbc527206f92](https://user-images.githubusercontent.com/40724154/42411556-6947c38c-8206-11e8-9330-d6fff0ae1014.png)
![14286ed6-b782-4ab5-9522-4d2e03359cca](https://user-images.githubusercontent.com/40724154/42411557-6cbcdc28-8206-11e8-96da-7484b7d5df72.png)

[2018-07-08 04:56] SageFargo commented on #2329
&nbsp; also stopped working, center alignment too, <blockquote>
In visual editor it seems to work, but when published nothing works.

[2018-07-09 07:53] MARQAS commented on #1637
Added here: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1641

[2018-07-09 08:06] MARQAS commented on #2116
Footer menu resolved here: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2146

[2018-07-09 08:42] merajali294 opened #2335 "Whenever "Show By Default" with any Category is Enabled, then the Content in EXCERPT is Disappeared."
Have a look at this Video for a clear Idea!!!

https://youtu.be/RlF8b4r1EsA

Reference: https://secure.helpscout.net/conversation/615784369/29589?folderId=2090441

When  "Show By Default" with any Category is Enabled in Options Panel, I suppose there shouldn't be any    " X " Option because there is no Call taken in WP Settings.

[2018-07-09 08:48] MARQAS opened #2336 "Limit number of posts for Categories and Tags in Hide AMP bulk tools option"
Currently, it is trying to grab all the categories and tags which is causing performance issues.

[2018-07-09 08:52] MARQAS commented on #1717
Make it run only when the option is enabled to improve the performance issue.

[2018-07-09 09:48] MARQAS commented on #2115
Sidebar is also working properly now.

[2018-07-09 12:09] beingsmart3 opened #2337 "How do we make our tables responsive in the AMP version?"
Screenshot:  http://take.ms/U1MEs

Ref:  https://secure.helpscout.net/conversation/611231214/29139/

[2018-07-09 20:32] BeknSeattle opened #2338 "amp-image-lightbox extension"
Hello,
Still having validation problems with the amp-image lightbox extension. I disable the lightbox image option and added the .js manually to the header option of the plugin. It cleared one error when it is stating that the JavaScript is needed. 9 warning appeared saying the js appears more than once on some post and pages. See attached image from Google's Search console.
<img width="1067" alt=

[2018-07-10 07:18] MohammedKaludi commented on #2137
:+1:

[2018-07-10 07:18] #2137 closed

[2018-07-10 07:19] MohammedKaludi commented on #2180
:+1:
nice work @MARQAS on this. :+1:

[2018-07-10 07:19] #2180 closed

[2018-07-10 07:27] MohammedKaludi opened #2339 "Show notice in Plugin Manager page if the site is using 1.0"
- [x] Show notice in Plugin Manager page that site has an older version of AMP Plugin Manager and upgrade it to the newer version

http://take.ms/lOzh2

[2018-07-10 07:43] Sejiro-Hiko commented on #1686
@geniovi are still facing this issue? and can you brief us on which version you are facing this issue?

[2018-07-10 07:44] MohammedKaludi commented on #2178
not working properly,
Current check is not robust, need to use better way to check if amp is present in url
https://github.com/ahmedkaludi/amp-plugin-manager/commit/f64581bd1bfb07441a1071c3711c671157208f58#diff-fa31b69d47cb96842440c40e8f5ed595R15

[2018-07-10 07:46] MohammedKaludi commented on #2219
@zhouyx thank you for your help.

@MARQAS current GDPR settings seem to work properly for all the users, EU and NON-EU.
Nice work on this one @MARQAS

[2018-07-10 07:46] #2219 closed

[2018-07-10 08:05] MohammedKaludi commented on #1575
@Sejiro-Hiko
Content is still blank
non-amp: http://take.ms/iUmLw
amp: http://take.ms/YmyPpY

[2018-07-10 08:08] ToufiqSuhail opened #2340 "When Google Tag Manager is enabled, only Google Analytics should get disabled but not other analytics."
When Google Tag Manager is enabled, all the other analytics gets turned off. Instead, only Google Analytics should get turned off.

Ref: https://secure.helpscout.net/conversation/613130890/29318?folderId=2075531

[2018-07-10 08:09] MohammedKaludi commented on #2152
@valeturchi this has been fixed can you please confirm that it is working on your site?

[2018-07-10 08:09] MohammedKaludi commented on #2232
This has been fixed.

[2018-07-10 08:09] #2232 closed

[2018-07-10 08:10] MohammedKaludi commented on #1524
:+1:

[2018-07-10 08:14] MohammedKaludi commented on #2333
This has been tested and pushed in 0.9.97.4

[2018-07-10 08:14] #2333 closed

[2018-07-10 08:16] MohammedKaludi commented on #2300
@praderj we have just pushed an update, can you please update to the latest version and do let us if the issue is fixed?

[2018-07-10 08:19] MohammedKaludi commented on #1659
:+1:

[2018-07-10 08:19] #1659 closed

[2018-07-10 08:20] MohammedKaludi commented on #2254
:+1:

[2018-07-10 08:20] #2254 closed

[2018-07-10 08:21] MohammedKaludi commented on #2321
:+1: code Pushed in 0.9.97.4

[2018-07-10 08:21] #2321 closed

[2018-07-10 08:23] #2327 closed, assigned to Sejiro-Hiko

[2018-07-10 08:29] MohammedKaludi commented on #2336
:+1: pushed this code in 0.9.97.4

[2018-07-10 08:29] #2336 closed

[2018-07-10 08:37] MohammedKaludi commented on #1723
:+1:

[2018-07-10 08:56] gareththomasnz commented on #1575
works for me

[2018-07-10 09:02] osseonews opened #2341 "Title of page No Longer visible"
Upon update to Version 0.9.97.3, and 0.9.97.4 , all of the titles disappeared from any single pages. This happens on every design, Design 1, Design 2 and Design 3, but not on the Swift design (which we don’t use anyway). The title of the post, simply is not displayed in the page and the h1 tag that used to be used to display the title of the post (<h1 class=”amp-wp-title”>POST TITLE</h1>), is simp

[2018-07-10 09:35] Sejiro-Hiko commented on #1768
@MayankParmar207 are you still facing the issue? As I tried to recreate the issue as you've displayed in the setting and other ways but Unable to recreate this issue. are you sure that someone from your end tried to add the `code-block` html as a custom Ad for AMP? can you please share the url at `https://ampforwp.com/support/` otherwise we need to close this ticket.

[2018-07-10 09:48] Sejiro-Hiko commented on #1575
@MohammedKaludi works on all designs on my end with `0.9.98` branch, will test them again.

[2018-07-10 10:28] ansaritalha opened #2342 "Compatibility issues with Site Origin Page builder."
when the page is created by using site origin page builder then in amp version the content is not rendered and page appear blank.

but when we checked the custom AMP editor[with at least single alphabet then the content is rendering in AMP version]
see this video clip: http://take.ms/N4LTf

and some other compatibility issue like the "accordion is not working AMP version".
URL: https://haskewlaw.c

[2018-07-10 10:59] santosh8793 commented on #1753
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/c4e3048f2ce60814bc1bd5ecf3ccf2a955829f6b

[2018-07-10 11:10] MohammedKaludi commented on #1753
@ahmedkaludi
http://take.ms/HE49Q
and need your feedback.

[2018-07-10 11:21] shtefcs opened #2343 "rel="next" & rel="prev" pagination meta tags"
Since the AMP is lot about **SEO** you are missing one very important stuff and that is `rel="next"` and `rel="prev"` paginations meta tags.

According to Google and other SEO experts, pagination pages should not be `<noindex>` , `nofollow` etc.

Check the screenshot:
![](https://i.imgur.com/BYULyhT.png)

Source: https://www.contentkingapp.com/academy/pagination/
Read more on Google Blog: https://

[2018-07-10 11:47] RajuJeelaga commented on #2331
@SageFargo Hi Sage, Please check related post design in this Branch https://github.com/ahmedkaludi/accelerated-mobile-pages/tree/0.9.98 it is working, I test it. But this branch is still development, it is not released at, If you want to upload this, please go via FTP, (or) If you want to wait for a week the update will be release..

[2018-07-10 11:53] beingsmart3 commented on #2315
- [ ] 5. Warning: in_array() expects parameter 2 to be array,
see this screenshot:  http://monosnap.com/image/1HnrVdOMTwOWXjqhBQMoN8FNwAbZV4/

[2018-07-10 12:21] MohammedKaludi commented on #1089
:+1:

[2018-07-10 12:38] MohammedKaludi commented on #2308
:+1:

[2018-07-10 14:00] MohammedKaludi commented on #2302
:+1:

[2018-07-10 14:31] #1637 closed

[2018-07-10 14:32] MohammedKaludi commented on #2309
:+1:

[2018-07-10 14:36] MohammedKaludi commented on #2305
:+1:

[2018-07-10 14:38] MohammedKaludi commented on #1483
:+1:

[2018-07-10 14:45] MohammedKaludi commented on #2320
missing default value, it is breaking when Empty is selected http://take.ms/Ovg3e
and design specific defaults needed.

[2018-07-10 14:46] MohammedKaludi commented on #1984
:+1:

[2018-07-10 14:46] #1984 closed

[2018-07-10 14:55] MohammedKaludi commented on #2264
:+1:

[2018-07-10 15:00] MohammedKaludi commented on #1634
:+1:

[2018-07-10 15:01] MohammedKaludi commented on #2296
:+1:

[2018-07-11 04:48] ahmedkaludi commented on #2332
- [ ] 2. Warning: in_array() expects parameter 2 to be array,
see this screenshot:  http://monosnap.com/image/1HnrVdOMTwOWXjqhBQMoN8FNwAbZV4/

Ref:  https://secure.helpscout.net/conversation/614426939/29439?folderId=1914712

solution:  `if ( is_array( $metadata ) ) {
				if( in_array( "image" , $metadata ) ) {
					if ( $metadata['image']['width'] < 696 ) {
			 			$metadata['image']['width'] = 700

[2018-07-11 04:50] ahmedkaludi commented on #2315
We will continue this ticket in #2332

[2018-07-11 04:50] #2315 closed

[2018-07-11 05:07] ahmedkaludi opened #2344 "Where did the excerpt go?"
1. roll back to .96.1 and reset the options
2. set D2
2. update to the latest version
3. check homepage excerpt.

Do the same test in all the designs.

[2018-07-11 05:38] ahmedkaludi commented on #2339
- [ ] why two plugin manager? http://take.ms/aKwbf

[2018-07-11 05:43] MohammedKaludi commented on #2339
Because there is a confusion, the previous version that were distributed was plugins-manager and then we renamed it to AMP-plugin-manager.

That's why there are two copies and the code is written to handle both of them

[2018-07-11 05:48] Sejiro-Hiko commented on #1686
tested on my end, working fine..

[2018-07-11 05:51] Sejiro-Hiko commented on #1766
hey guys @nacubo @miguelgaton, are you still facing this issue? if yes can you please reach us out here `https://ampforwp.com/support/` I'll look into the issue personally on your end and will resolve it.

[2018-07-11 05:54] Sejiro-Hiko commented on #1580
Current set up in the plugin for the thumbnail is what we needed by resizing the image and we'll not be changing that but as for the image clarity issue that will be resolved in the #1619

[2018-07-11 06:04] githubjabbar opened #2345 "AMP Layouts key Activation box is appearing twice in the Extension Panel of AMPforWP"
REF: https://secure.helpscout.net/conversation/614196386/29413?folderId=1680011
Screenshot: http://take.ms/Z1tRA

[2018-07-11 06:06] Sejiro-Hiko commented on #1650
@azzronulation we do not generate the Instant Article on "pages" as well as on "Homepage" can you please share some url's or example of the issue.

you can reach us here if you like `https://ampforwp.com/support/` .

[2018-07-11 07:01] MohammedKaludi commented on #1650
Also if you are referring as turnoff instant articles on specific posts then, we created this feature a few days ago and that will be pushed in 0.9.98 update.

More about this ticket here: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1297

[2018-07-11 07:12] beingsmart3 opened #2346 "ld+json is getting a break when a special character is getting added in the image."
Ref:  https://secure.helpscout.net/conversation/611765346/29181?folderId=1060556

Screenshot:  http://monosnap.com/image/naVB2C7uVdsOQG1UMehDYJ2qx4mcLO/

Issue:   `$element->nodeValue = $element->textContent;`

Solution:  `$element->nodeValue = htmlspecialchars($element->textContent);`

[2018-07-11 07:33] nacubo commented on #1766
Thanks @Sejiro-Hiko

I've sent you the ticket.

Best regards,

[2018-07-11 07:42] githubjabbar commented on #2330
https://secure.helpscout.net/conversation/609750688/28967?folderId=1680011#thread-1690428132

[2018-07-11 08:15] MohammedKaludi commented on #1968
@ahmedkaludi after you done with the checking please assign it back to me.

[2018-07-11 08:34] MohammedKaludi commented on #1531
need a minor improvement, otherwise looks good.

[2018-07-11 08:37] Sejiro-Hiko commented on #1766
@nacubo I've replied to you on the ticket please look into it.

[2018-07-11 08:37] Sejiro-Hiko commented on #1766
ref: https://secure.helpscout.net/conversation/618404764/29989/?folderId=1680011

[2018-07-11 08:42] syedimran22 opened #2347 "Addition of new button option under the Notice Bar (Cookie Consent)"
Description: Addition of new button option (Such as Read more option which takes the user to the privacy policies.)  under the Notice Bar (Cookie Consent)
Ref: https://secure.helpscout.net/conversation/617694056/29881/
See this screenshot: http://take.ms/z9cLI

[2018-07-11 08:42] santosh8793 commented on #2346
#2316 this issue has been resolved here

[2018-07-11 08:46] MohammedKaludi commented on #1589
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/4f8aad5b6a7ea18ac4845fda469ba9f281b76d95#diff-6aa5512f7dd8d5ce60fc97b0f340912cR2526

https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/44ba264c34189112acc5e00cbd12b38dd22131e1#diff-6aa5512f7dd8d5ce60fc97b0f340912cR4778

Use function_exists or class_exists in the place of is_plugin_active('wp-seopress/seopress.php')

[2018-07-11 08:53] MohammedKaludi commented on #1485
:+1:

[2018-07-11 08:58] MohammedKaludi commented on #1473
Please use function_exists('yoast_breadcrumb') or the main class/function to check if it exists or not.
if ( is_plugin_active() ) can create issues in Multisites or Whitelabel or Pro or other versions of the plugin.

[2018-07-11 09:10] MohammedKaludi commented on #1774
:+1:

[2018-07-11 09:10] #1774 closed

[2018-07-11 09:16] syedimran22 opened #2348 "User Experience Issue with Custom Home Page"
Description: User Experience using  a link of tutorial how to set the custom home page

Ref: https://secure.helpscout.net/conversation/618228872/29974/

Screenshot: http://take.ms/EBjjd

[2018-07-11 09:24] ahmedkaludi commented on #2341
I don't know, it's really strange, Can you please share your wp-admin and FTP information on team@magazine3.com ?

i will look into this issue and fix the issue with the help of you and push the update so that everyone can get the solution!

[2018-07-11 09:55] RajuJeelaga commented on #2344
Same issue i notice in this https://ampforwp.com/demo/amp-pagebuilder/blog/amp/

[2018-07-11 10:11] santosh8793 commented on #2346
#2316 Made changes based on the solution provided by the ticket #2346

[2018-07-11 10:31] Sejiro-Hiko commented on #2341
@osseonews can you please follow-up on this #1435 or we'll be closing that ticket

[2018-07-11 10:37] osseonews commented on #1435
I'm not sure what issue you are referring to. Comments is working, but the title issue is still not working.

[2018-07-11 10:37] #1435 closed

[2018-07-11 10:41] Sejiro-Hiko commented on #1435
@osseonews we're working on the title issue which will be resolved soon and the new update will be released soon..

[2018-07-11 10:54] osseonews commented on #2341
@ahmedkaludi Just sent you a ticket at team@magazine3.com. As noted above, the Title issue occurs even when no other plugins are used and the standard Wordpress theme is used. Also, I should also mention that title issue maybe related to another bug we found with the latest update: Comments don't appear under AMP posts when you update the plugin. To fix this, you must actively  resave your design

[2018-07-11 11:04] merajali294 commented on #2344
Team have a look at this:

https://wordpress.org/support/topic/0-9-97-3-breaks-excerpts-and-disables-comments-by-default/

[2018-07-11 11:10] geniovi commented on #2341
I also confirm the bug in my site after install update  0.9.97.4

[2018-07-11 11:14] MARQAS commented on #2246
![sneak-peek](https://user-images.githubusercontent.com/15303814/42568125-aa7cc98a-8529-11e8-8502-d5523388b2a7.gif)

[2018-07-11 11:15] MARQAS commented on #2246
@MohammedKaludi and @ahmedkaludi, any idea on how to describe this feature or add this GIF in the options panel?

[2018-07-11 11:23] merajali294 opened #2349 "Remove “Top ” and display it as “Top”."
The Back to “Top” page link on AMP pages is displayed as “Top ” rather than “Top”.

Forum Ref: https://wordpress.org/support/topic/back-to-top-link-minor-typo-on-amp-page/

Example: https://monosnap.com/file/fgFKRegFt4Midj0QNcrwrtHMjP8HpV

[2018-07-11 11:35] githubjabbar opened #2350 "Homepage build with AMP PageBuilder is displaying only when the checkbox of the Custom AMP editor is enabled."
REF: https://secure.helpscout.net/conversation/618164218/29968?folderId=1680011

 Homepage content build with AMP PageBuilder is displaying only when the checkbox of the Custom AMP editor is enabled.

See this video: http://take.ms/klkKZ

[2018-07-11 12:09] #2341 closed

[2018-07-11 14:05] Frenchomatic opened #2351 "Meta robots tag not being rendered"
It is a bit frustrating when having to check things which get fixed but several versions later they no longer work.

Meta robots - noindex, noarchive etc which are set in Genesis framework are no longer being rendered. This means there is an issue with AMP takeover and preventing pages like legal and privacy from getting indexed.

[2018-07-11 14:41] ahmedkaludi commented on #2351
@Frenchomatic Are you checking it in the 0.9.97.4 or the 0.9.98 Beta ?

[2018-07-11 14:42] ahmedkaludi commented on #2351
If you can share the exact environment details on team@magazine3.com  then I can analyze the exact problem and fix them

[2018-07-11 14:44] Frenchomatic commented on #2351
Sorry - design 2 - AMP takeover (or not as the case maybe) - Version 0.9.97.4 . Genesis SEO title and meta description appear to render ok but the meta robots tags don't show anymore.

[2018-07-11 14:47] Frenchomatic commented on #2343
Yes this has been missing for quite some time. It would need to work properly in AMP takeover too.

[2018-07-11 14:53] MohammedKaludi commented on #2316
Fixed in #2346. Closing the ticket.

[2018-07-11 14:53] #2316 closed

[2018-07-11 15:02] MohammedKaludi commented on #2345
:+1:

[2018-07-11 15:19] nomakeup commented on #2343
This is exactly what i`m looking for...i hope that problem with pagination will be fixed in next update...cheers

[2018-07-11 16:03] MohammedKaludi commented on #2330
:+1:

[2018-07-11 16:03] #2330 closed

[2018-07-11 16:59] MohammedKaludi commented on #2340
:+1:

[2018-07-11 16:59] #2340 closed

[2018-07-11 17:16] MohammedKaludi commented on #2346
:+1:

[2018-07-11 17:16] #2346 closed

[2018-07-11 17:17] #2345 closed

[2018-07-11 17:18] MohammedKaludi commented on #2300
@praderj ping...

[2018-07-11 17:18] MohammedKaludi commented on #1629
rename the files as we have discussed.

[2018-07-11 19:34] SageFargo commented on #2331
I heard it’ll be fixed with the next update, I’ve just updated and no luck :/
Could you look into this?

[2018-07-11 19:45] MohammedKaludi commented on #2331
@SageFargo this code will be pushed in 0.9.98 version.

[2018-07-11 20:48] SageFargo commented on #2331
Why so long tho?

[2018-07-11 21:16] euopal1 opened #2352 "I am getting an error in my amp pages and categories"
Notice: Undefined offset: 215 in /home/gistmate/public_html/wp-content/plugins/accelerated-mobile-pages/includes/options/extensions/checkbox_hierarchy/checkbox_hierarchy/field_checkbox_hierarchy.php on line 166
 and on my pages I get:
/home/gistmate/public_html/wp-content/plugins/accelerated-mobile-pages/includes/thirdparty-compatibility.php on line 366

Help me

[2018-07-11 23:02] maysanmingorance opened #2353 "Swift theme header type is always the same"
I'm trying to change the type of header on this theme (Swift) and it's impossible. As much as I try, it always shows the one with the "Sign up free" button and I'm not able to remove it.

[2018-07-12 04:56] ahmedkaludi commented on #2353
@maysanmingorance Can you share the URL?

Also, we're unable to recreate the issue on our end, so kindly share the wp-admin credentials on team@magazine3.com so I can personally look into this issue and help you fix this one.

[2018-07-12 06:35] MARQAS commented on #2351
Hi @Frenchomatic,
Check the 'Advanced Indexing' sub-section inside SEO section of AMP Options Panel. Is 'URL Inspection Tool Compatibility' option enabled?
It seems that Google recently made some changes in URL inspection Tool due to which noindex in AMP is no longer valid and it is causing validation errors. This is the reason we made some changes in noindex part recently.

[2018-07-12 06:41] syedimran22 opened #2354 "Modification of UL list spacing for Swift theme"
Description: Whenever the clients are using the dots or numbers to structure the next text is stuck to the links so modify the Ul list spacing same as a paragraph.

Ref: https://secure.helpscout.net/conversation/617694056/29881?folderId=2169251
Screenshot: http://prntscr.com/k56mnb

[2018-07-12 06:45] beingsmart3 opened #2355 "AMP Facebook Page like box implimentation"
User Want to display the facebook page in the amp but we have asked for the exact path where the user wants to display the facebook page.

Normally the facebook page is displaying in the header below the address bar.
see this screenshot:  http://monosnap.com/image/q9ugvr9Of4gasEU1vEVxUrNaieFw2F/

Ref:  https://secure.helpscout.net/conversation/616909160/29780?folderId=1914712

[2018-07-12 06:46] Frenchomatic commented on #2351
Yes it is set to on - the problem is most of my sites are in AMP takeover so all pages are canonical. Pages like privacy and legal info are now going to get indexed. If noindex is set on those pages, it doesn't matter that they aren't valid AMP.  The point is that they don't get indexed at all.

[2018-07-12 06:56] MARQAS commented on #2351
If they are not valid AMP then Google will not indexed them.
If you want to have noindex then try disabling the URL Inspection Tool Compatibility option. I am sure it will resolve your problem.

[2018-07-12 06:57] Frenchomatic commented on #2351
Thanks - I now see if I turn that inspection option off - the noindex appears for my legal and privacy pages.  Trying to understand the consequence of not using that tool.

[2018-07-12 07:13] Omair52 opened #2356 "Error in Errorlog"
User is facing errors in errorlog

Ref: https://secure.helpscout.net/conversation/617688717/29880?folderId=2090528

If you have any doubts feel free to ask me.

[2018-07-12 07:15] MARQAS commented on #2351
We have added that option to remove noindex from AMP pages as it will throw errors in Google Search Console.

[2018-07-12 07:17] Sejiro-Hiko commented on #2269
@ahmedkaludi can you check it now?

[2018-07-12 07:19] Frenchomatic commented on #2351
But Marqas - how do you noindex a privacy page for example which happens to be AMP valid in AMP takeover? Do you see the problem?

[2018-07-12 07:30] Sejiro-Hiko commented on #2352
@euopal1 are you using AMP pagebuilder? and can you please mail me at https://ampforwp.com/support/ along with url?

[2018-07-12 07:39] Frenchomatic commented on #2351
Maybe I am not understanding fully - If the inspection tool throws errors because the page is non-valid then that is fine because it should do. The tool is simply confirming that your legal or privacy page is not AMP valid and is not being indexed either.

Think about it like this - you have a site with a legal page - the canonical is noindex. There is an AMP version of that page because it fits i

[2018-07-12 10:08] syedimran22 opened #2357 "Ads are breaking above the footer in RTL mode"
Description: Ads are breaking just above the footer in RTL mode

REF: https://secure.helpscout.net/conversation/617805606/29900?folderId=2169251

Screenshot: http://take.ms/kBK9o

[2018-07-12 11:15] ahmedkaludi commented on #2357
Not breaking, it should be in center

[2018-07-12 11:34] Sejiro-Hiko commented on #1575
@MohammedKaludi the front page is also working fine on my end without overriding the content of the latest post

[2018-07-12 12:05] MARQAS commented on #1202
It is working fine.
The embed is in the iframe format which will directly be converted to amp-iframe.
I tried adding the code which user gave and it is working fine.

[2018-07-12 12:10] MARQAS commented on #1202
There's an AMP component for VK: https://www.ampproject.org/docs/reference/components/amp-vk
But it is for Posts and Widgets not for videos. And the embed of VK post in this format:

[code]

And for amp-vk component, we require Owner id, Post id, and Security hash.
Any idea how we can extract these things for AMP from the above code?

[2018-07-12 12:30] MARQAS commented on #2351
Neither we are using inspection tool nor we have created it, it is Googles URL inspection tool. You can read more about it here: https://webmasters.googleblog.com/2018/06/new-url-inspection-tool-more-in-search.html
And with this update noindex in meta robots in not valid anymore. Many of our users came to us with lots of errors in their Search Console due to this. So to avoid those errors we made

[2018-07-12 12:56] Frenchomatic commented on #2351
I have settled with turning the option off so I can still noindex and noarchive specific pages in the genesis SEO settings for a page. These will not get indexed or cached as AMP pages. They may show up as non-AMP valid in the inspection tool but that is fine because I don't want them indexed anyway.  I think the confusion here on my part is what you called the option.

[2018-07-12 13:17] MARQAS commented on #2351
Any suggestion on how we can improve it?

[2018-07-12 13:20] Frenchomatic commented on #2351
Difficult as it requires explanation doesn't it. Remove noindex, noarchive, nofollow tags. Then where you have the link you could say that pages will not be valid AMP.

[2018-07-12 14:09] Frenchomatic commented on #2303
I agree - the button should be off by default so the SEO options already set for canonical pages in yoast, genesis or all in one SEO get rendered.

[2018-07-12 15:44] ifixcomputers opened #2358 "ReferenceError in Admin Pages"
Trying to use the AMP Pagebuilder to customise a page I have already made, but none of the elements are usable. They can be dragged and reordered, but not opened and edited. I wanted to change a button on an AMP page, but it won't allow me to open the button to edit it. Hope that makes sense.

I have checked the console and see this error

Kind regards

[2018-07-13 04:59] syedimran22 opened #2359 "AMP compatibility with Table of content plugin."
Description: Should make the Table of content plugin AMP compatibility mainly with the themes and Hide and show table contents.

Ref: https://secure.helpscout.net/conversation/617694056/29881?folderId=2169251
Screenshot: https://prnt.sc/k5590h

[2018-07-13 05:43] Sejiro-Hiko commented on #1766
shortcodes are working on user's end so we can close this ticket

[2018-07-13 06:04] ahmedkaludi commented on #2344
If it's not a proper solution, then let's discuss the proper one?

@MohammedKaludi @Sejiro-Hiko

[2018-07-13 06:45] Sejiro-Hiko commented on #1819
@rohittm can you tell us what is your use case that you want to override the style sanitizer?

[2018-07-13 06:47] ahmedkaludi commented on #1445
This has been fixed when we released the vue.js based Page builder

[2018-07-13 06:47] #1445 closed

[2018-07-13 06:50] ahmedkaludi commented on #2319
This was a one-off issue, which has been resolved on user's end.

[2018-07-13 06:50] #2319 closed

[2018-07-13 07:15] MARQAS commented on #2080
@Frenchomatic, I understand the use case and I also tried to implement it but there were some problems.
It is difficult to change the HTML markup of our AMP and we don't want to run another query due to performance issues.

Do you have any opinion or solution to this?

[2018-07-13 07:16] RajuJeelaga commented on #2331
@SageFargo I think you didn't read my previous reply.

I want you to test this code, get the beta version from: https://github.com/ahmedkaludi/accelerated-mobile-pages/tree/0.9.98

and then let us know if this fixes that specific issue on your end or not?

Once you confirm, then we will proceed with pushing the update.

[2018-07-13 07:48] RajuJeelaga commented on #2357
- [ ] I check in my localhost and User Live site as well, From my end it is working fine, I didn't see ad problem in the User live site.

[2018-07-13 07:49] #2357 closed

[2018-07-13 07:49] SageFargo commented on #2331
Can you walk me through, real quick?

[2018-07-13 07:53] Frenchomatic commented on #2080
No I don't really. The problem is that AMP was not designed to accommodate archive type pages or categories. As you know its main purpose was for posts. This means you are a bit stuck and will need to use WebPage and assign a default image as you do.  You do this for the main blog posting page already but for categories it is broken ( a category page doesn't take webpage and use the default image

[2018-07-13 07:57] merajali294 opened #2360 "Error and Warning on Structured Data for Logo."
1. Many Users getting this error.

https://imgur.com/DoPYEB4

Reference: https://wordpress.org/support/topic/google-search-console-error-error-in-required-structured-data-element/

2. I've tested at my end we are getting Warning as shown in the Screenshot only in 0.9.97.5, not in previous Versions:

https://monosnap.com/file/Oa8ZE9IVEVBXSrkVctUzb3rfgsM9y8

[2018-07-13 09:38] ToufiqSuhail opened #2361 "AMP renders with ?q after the /amp"
In the AMP version, the site renders to the link in this way

https://bestmvno.wpstage.net/apn-settings/cricket-wireless-apn-settings/amp/?q=/apn-settings/cricket-wireless-apn-settings/

Ref: https://secure.helpscout.net/conversation/608344231/28742?folderId=2075531

WP already inside it. Let's not wait for the FTP.

[2018-07-13 09:41] ToufiqSuhail opened #2362 "WordPress REST API support for AMP."
Need to create WordPress REST API support for AMP.

Ref: https://secure.helpscout.net/conversation/618946425/30053/?folderId=2075531

[2018-07-13 10:45] beingsmart3 opened #2363 "When an /?amp is enabled visit AMP is redirecting to dashboard"
When an endpoint  is enabled Visit amp option is redirecting to Xyz.com/wp-admin, not the homepage

Ref:  https://secure.helpscout.net/conversation/617783401/29897?folderId=1914712

[2018-07-13 11:13] Zabi09 commented on #2361
the error is due to the following code
`if ( is_singular() && !empty($_SERVER['QUERY_STRING']) ) {
	$url = add_query_arg( $_SERVER['QUERY_STRING'], '', $url);
}`
it was added in the following tickets #1771 #2223

@MARQAS can you look into it.

[2018-07-13 12:05] RajuJeelaga commented on #2332
4. 0.9.98 Branch, it breaks the Previous Swift Default Layout, like Landing page and Pricing Page, See the Screenshot.

### Landing page
- [ ] https://monosnap.com/file/Fgo24z7oE6QhS4ubbL8vgzqkewexEN

### Pricing page
- [ ] https://monosnap.com/file/LNdp1A2u3JVey4CJV8PpvndjS2JPuM

- [ ] It makes problem in 0.9.98 and 0.9.96, It's working fine in 0.9.97.3 branch.

[2018-07-13 12:32] Frenchomatic opened #2364 "Default image & url path"
Looks like the default image doesn't get added into the structured data for urls if they have paths which do not directly connect to the root. In other words the first url below will get the default image embedded into the structured data but the second url won't.

https://www.example.com/mypage-without-a-featured-image/

https://www.example.com/anything/mypage-without-a-featured-image/

Errors no

[2018-07-13 13:07] beingsmart3 opened #2365 "404 Bad HTTP response while subscribing to updates"
The user is facing error of 404 Bad HTTP response while subscribing to updates

Ref:  https://secure.helpscout.net/conversation/613515339/29346?folderId=1914712

see this screenshot:  https://monosnap.com/direct/7l8ScyxtN0oAan2G08ddtykuXiLRN5

[2018-07-13 13:37] Frenchomatic commented on #2082
I have made design 2 accessible to WCAG level 2.0 AA - I use http://wave.webaim.org as a test. Most of the changes are required around the menu with a bit of CSS to make  / position the bars.

[code]

Then for the footer I embed my own social links with text links on buttons as opposed to icons.  It is more accessible and faster too as no icon sets need to be loaded.

The rest is standard stuff ar

[2018-07-14 04:57] ahmedkaludi opened #2366 "Allow users to try the beta version with one click"

[2018-07-14 06:22] beingsmart3 commented on #2360
One More issue:  https://secure.helpscout.net/conversation/589841540/26956?folderId=1914712

[2018-07-14 06:28] ToufiqSuhail commented on #2360
Some more user: https://secure.helpscout.net/conversation/616275469/29679?folderId=2075531

https://secure.helpscout.net/conversation/619985439/30166?folderId=2075531

[2018-07-14 07:05] beingsmart3 commented on #2360
Ref:  https://secure.helpscout.net/conversation/618952792/30055?folderId=1914712

[2018-07-14 07:58] beingsmart3 commented on #2360
one more:  https://secure.helpscout.net/conversation/620510131/30218?folderId=1914712
JSON-LD	Syntax error: value, object or array expected.
see this screenshot:  http://take.ms/yIDlV

[2018-07-14 10:08] ToufiqSuhail commented on #2360
https://secure.helpscout.net/conversation/620541148/30225?folderId=1060551

[2018-07-14 11:20] MARQAS commented on #2321
It was causing some issues. But it was resolved here #2360

[2018-07-14 13:30] ahmedkaludi commented on #2183
@MohammedKaludi That option is not available so we can close this ticket now.

[2018-07-14 13:30] #2183 closed

[2018-07-14 13:58] ahmedkaludi commented on #2331
@SageFargo Try it from: https://github.com/ahmedkaludi/accelerated-mobile-pages/archive/0.9.98.zip

[2018-07-14 13:59] ahmedkaludi commented on #2172
waiting from myself

[2018-07-14 14:00] ahmedkaludi commented on #2337
not able to find it. Let's give it another thought about this on next week.

[2018-07-14 14:05] ahmedkaludi commented on #1686
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:05] #1686 closed

[2018-07-14 14:05] ahmedkaludi commented on #1768
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:05] #1768 closed

[2018-07-14 14:06] ahmedkaludi commented on #2069
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:06] #2069 closed

[2018-07-14 14:06] ahmedkaludi commented on #1692
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:06] #1692 closed

[2018-07-14 14:07] ahmedkaludi commented on #1490
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:07] #1490 closed

[2018-07-14 14:07] ahmedkaludi commented on #1763
Waited long for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:07] #1763 closed

[2018-07-14 14:08] ahmedkaludi commented on #1650
Regarding the original issue, We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:08] #1650 closed

[2018-07-14 14:08] ahmedkaludi commented on #1504
Regarding the original issue, We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:08] #1504 closed

[2018-07-14 14:08] ahmedkaludi commented on #1615
Regarding the original issue, We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:08] #1615 closed

[2018-07-14 14:08] ahmedkaludi commented on #1645
Regarding the original issue, We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:08] #1645 closed

[2018-07-14 14:09] ahmedkaludi commented on #1681
We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:09] #1681 closed

[2018-07-14 14:09] ahmedkaludi commented on #1819
We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:09] #1819 closed

[2018-07-14 14:09] ahmedkaludi commented on #2255
We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:09] #2255 closed

[2018-07-14 14:10] ahmedkaludi commented on #1762
We have waited for the reply. We're closing this for now.

If you are also having the same issue, then please contact us via https://ampforwp.com/support/

[2018-07-14 14:10] #1762 closed

[2018-07-14 14:11] ahmedkaludi commented on #2263
Tested and working fine.

[2018-07-14 17:57] MohammedKaludi commented on #2253
Post pagination is not working with posts. but working with pages and frontpage

[2018-07-14 20:31] MohammedKaludi opened #2367 "Debug warnings in error logs"
Hi I am having a problem in constant error logs. I ask you to help me with the solution, thank you.

Problem : /wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 4801
/public_html/wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 248

https://wordpress.org/support/topic/amp-features-php-on-line-4801-error/

[2018-07-15 10:50] Tymvie commented on #2253
Please pay attention to this comment https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2001#issuecomment-397790523 since this also related to pagination

[2018-07-16 05:39] RajuJeelaga opened #2368 "Elementor Editor not loading because of AMPforWP"
https://monosnap.com/file/YSAlHrJU6vQnPX5IF4YbSPn4cHMKx7

[2018-07-16 08:57] MARQAS commented on #1640
There are only 2 possibilities for this issue.
1. mb encoding is disabled
2. Use mb_convert_encoding to encode such data.
We are using mb_convert_encoding so no issue from our end. And it seems that user has also enabled the Multibyte strings so no issue from his end as well. It is working fine.

Tested on Localhost:
Without mb_convert_encoding: http://take.ms/aNRpM
With mb_convert_encoding: http:

[2018-07-16 10:05] Sejiro-Hiko commented on #1644
This ticket will be on hold for now and will be added for later milestone

[2018-07-16 10:08] Sejiro-Hiko commented on #1698
@CarmineMolisso97 can you please brief us on which "mobile browser" you are seeing this issue?

[2018-07-16 11:08] Sejiro-Hiko commented on #2161
The Advanced header issue was fixed when testing wp to amp conversion feature but due to some constraints faced by @RajuJeelaga the fixed was reverted.
Ref: 813c7e7371237b2b2b1e72309d47a63803ac6f25

[2018-07-16 11:10] Zabi09 opened #2370 "AMP page builder is not working even after enabling it"
wp-admin - https://secure.helpscout.net/conversation/616195389/29666?folderId=1060554

FTP details are ready!

[2018-07-16 11:10] MARQAS commented on #1509
The errors were due to Social Share by Supsystic plugin.

[2018-07-16 12:00] beingsmart3 commented on #2162
Social icons of these companies ( facebook, twitter, Gplus, email, Pinterest, Linkedin ) are creating the validation error when we enabled the sticky social share icon only for pages.

Ref:  https://secure.helpscout.net/conversation/620148901/30196?folderId=1914712

[2018-07-16 12:41] RajuJeelaga opened #2371 "Global Sidebar is not Connected with AMP Pagebuilder"
- [ ] In AMP pagebuilder, If enable Global sidebar, It is not showing, Need to Connect with Pagebuilder.
1.Connected with swift  https://monosnap.com/file/BaEBDBU4fJObDETPm9oZI8IgNzCPKC
2.Not connected with Pagebuilder https://monosnap.com/file/LKO7HzAaKvXGS9gBTH1TU6S8YlBngT

[2018-07-16 12:44] Sejiro-Hiko commented on #2299
the first issue has been addressed in the following ticket #2148

[2018-07-16 13:08] syedimran22 opened #2372 "Underline on Links function is not working."
Description: Underline on link function is not working throughout the pages

Ref: https://secure.helpscout.net/conversation/620622114/30239/?folderId=2169251

[2018-07-16 13:17] ToufiqSuhail opened #2373 "Create a field to display Tabaloo ad's above the author section"
In advance AMP Ads, a field request to display Tabaloo ad's above the author section.

Ref: https://secure.helpscout.net/conversation/619320368/30106/

[2018-07-16 13:20] MARQAS commented on #2177
Also made some changes in Single.php of Swift for example purpose.

[2018-07-16 13:24] ansaritalha opened #2374 "404 error when custom post type and page having same slug [Bug for the Rare use case]"
If the custom post type and the page having the same slug then its giving 404 error in AMP version.

For example, if we have a portfolio custom post type and if we create the page with the same name then its give 404 error in AMP version.

[2018-07-16 13:40] MARQAS commented on #1548
The main concern was calling of full images instead of thumbnail size. And it has been resolved with Aq resizer.
Approved by @ahmedkaludi as well.

[2018-07-16 13:51] ToufiqSuhail opened #2375 "Posts are not display and getting hidden in Blog page even when AMP is in show status"
When new posts are added in the categories section, the posts are not displaying and are taking the null value. But when we on re-updating by visiting the specific post; the posts displays.

Ref: https://secure.helpscout.net/conversation/621244671/0/?folderId=2075531
WP available, waiting for FTP

[2018-07-17 06:47] beingsmart3 opened #2376 "Breadcrumbs are not disabling when the sidebar template is selected"
Issue found the Breadcrumbs are not getting disabled when the sidebar template is selected in AMP panel.

Ref:  https://secure.helpscout.net/conversation/620945431/30276?folderId=1914712

[2018-07-17 08:03] ahmedkaludi opened #2377 "Options Panel not showing, says "You are not allowed to access this page""
Options Panel not showing, says "You are not allowed to access this page"

[2018-07-17 08:08] beingsmart3 commented on #2377
Ref:  https://secure.helpscout.net/conversation/621120036/30315?folderId=1060556

[2018-07-17 08:09] syedimran22 commented on #2377
Ref: https://secure.helpscout.net/conversation/619268464/30092?folderId=1060556

[2018-07-17 08:49] merajali294 opened #2378 "AMP Page Builder not working on Front page"
Reference:

https://secure.helpscout.net/conversation/618829565/30048?folderId=1680011

Waiting for FTP Details, as the details currently present are not working.

Fixed on the users website via ftp.

[2018-07-17 11:33] beingsmart3 commented on #2378
Ref:  https://secure.helpscout.net/conversation/621374086/30339?folderId=1914712

[2018-07-17 11:51] SageFargo opened #2379 "Ads placement correction"
This is the Home Page, ad doesn't sit in it's place.
![screen shot 2018-07-17 at 2 48 18 pm](https://user-images.githubusercontent.com/40724154/42815702-d35f5362-89d0-11e8-8455-f5fbb1c94939.png)

[2018-07-17 12:06] ahmedkaludi commented on #2379
@SageFargo May I know which ad location is this?

[2018-07-17 12:32] merajali294 opened #2380 "iThemes Sync can not connect to the site."
User updated the website with our latest update and the iThemes Sync console cannot connect to his site.

Reference:
https://secure.helpscout.net/conversation/614387369/29433?folderId=1680011

[2018-07-17 12:45] SageFargo commented on #2379
Hi,
It is showing on Homepage.

[2018-07-17 13:08] ahmedkaludi commented on #2379
how did you added it?

[2018-07-17 14:29] SageFargo commented on #2379
Like Marqas explained with the google auto amp ads. It was working fine, I noticed this today. Haven’t done any tweaking it just appeared there, or maybe it’s the in-content ad I don’t know.
But the codes are in the html settings

[2018-07-17 15:56] SageFargo commented on #2379
![screen shot 2018-07-17 at 6 54 36 pm](https://user-images.githubusercontent.com/40724154/42829921-067b4522-89f3-11e8-86dc-e2822cce8e4b.png)
appears also in-post. in the "Recent Posts" block

[2018-07-18 06:40] Frenchomatic commented on #2364
Yes it was resolved.

[2018-07-18 06:53] 4mr3y opened #2381 "Getting Error 404 in Archives Pages !!"
Already enable Archives [Category & Tags] option in general setting, but still get 404.

[2018-07-18 08:14] MohammedKaludi commented on #2367
One more warning

( ! ) Notice: Undefined index: page in C:\wamp\www\1\wp-content\plugins\accelerated-mobile-pages\accelerated-moblie-pages.php on line 433
--

[2018-07-18 08:14] MohammedKaludi commented on #2367
On debug.log I have this error with version Versión 0.9.97.6 of the plugin and wordpress Versión 4.9.7

[17-Jul-2018 06:47:00 UTC] PHP Notice: Undefined variable: wp in /var/www/vhosts/mydomain.com/httpdocs/wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 6853
[17-Jul-2018 06:47:00 UTC] PHP Notice: Trying to get property ‘request’ of non-object in /var/www/vhosts/mydomain

[2018-07-18 08:17] ahmedkaludi commented on #2381
THat's really strange, Can you please share your url here? and WP-admin & FTP on team@magazine3.com ?

I will personally check and help you fix it.

[2018-07-18 08:35] 4mr3y commented on #2381
thanks for respon :)
already send all your request on that mail

[2018-07-18 10:54] Sejiro-Hiko commented on #2358
@ifixcomputers I think the JS is not being updated on your end please try to update it, clear cahce and check it once and if the issue persists please reach us out at https://ampforwp.com/support/ along with your site details.

[2018-07-18 11:30] syedimran22 commented on #2367
Description: Errors reflecting on the pages

 Notice: Undefined index: query in /home/uazfychz/public_html/wp-content/plugins/accelerated-mobile-pages/includes/thirdparty-compatibility.php on line 397

Notice: Undefined index: query in /home/uazfychz/public_html/wp-content/plugins/accelerated-mobile-pages/includes/thirdparty-compatibility.php on line 397

Notice: Undefined index: query in /home/ua

[2018-07-18 11:32] MohammedKaludi commented on #2378
Fixed and tested on multiple sites, also the code will be pushed in 0.9.97.7

[2018-07-18 11:32] #2378 closed

[2018-07-18 12:00] jelenajjo commented on #2343
Is there anyway you can give us information on this issue? Whether you planning for next release or not. I can see from previous comments you stated will be released in previous update, but now as I can see it's not even labelled as *Next Update* issue.

I would appreciate your response @MohammedKaludi @ahmedkaludi

[2018-07-19 05:12] ahmedkaludi commented on #2103
It's because of the server config: https://theme-fusion.com/documentation/avada/knowledgebase/getting-php-is_readable-warning/

[2018-07-19 05:12] #2103 closed

[2018-07-19 06:16] Sejiro-Hiko commented on #2370
the issue was resolved in 0.9.97.7 and after the update on the user's end, the page builder is working.

[2018-07-19 06:17] Sejiro-Hiko commented on #2380
the conflict is with the way redux is adding should look for the other action to load it instead of `after_setup_theme`

[2018-07-19 07:31] beingsmart3 commented on #2144
@ahmedkaludi is solving the issue

[2018-07-19 07:54] beingsmart3 opened #2382 "In 404 error, the Ads are displaying"
Ref:  https://secure.helpscout.net/conversation/623737966/30548?folderId=1914712

see this screenshot:  http://take.ms/T8dof

[2018-07-19 08:10] ahmedkaludi commented on #1283
we have changed accounts.ampforwp.com so we don't need this at the moment.

[2018-07-19 08:10] #1283 closed

[2018-07-19 09:00] ahmedkaludi commented on #1440
it's too old, I'm sure it's fixed.

[2018-07-19 09:00] #1440 closed

[2018-07-19 09:03] #1457 closed

[2018-07-19 09:04] ahmedkaludi commented on #1433
Can we test this please?

and also i'd like your feedback on this @Frenchomatic

[2018-07-19 09:06] ahmedkaludi commented on #1515
we're not adding this at the moment, since it's not clear.

[2018-07-19 09:06] #1515 closed

[2018-07-19 09:18] ahmedkaludi commented on #2343
@jelenajjo I'm moving this ticket to the priority, I will make sure that this feature is built faster and it gets added in the next release cycle.

[2018-07-19 09:33] ahmedkaludi commented on #792
The only reason why I am closing this ticket is because the plugin hasn't been updated since 2 years.

[2018-07-19 09:33] #792 closed

[2018-07-19 09:36] ahmedkaludi commented on #2381
this was fixed with category base remover as an option

[2018-07-19 09:36] #2381 closed

[2018-07-19 10:17] MohammedKaludi commented on #2348
text is not translatable https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/33007f28ac9ee807b5fc6ad3d80d4d47d8f865b9#diff-6aa5512f7dd8d5ce60fc97b0f340912cR1789

[2018-07-19 10:34] syedimran22 commented on #2375
Description: Around 500 posts in NonAMP site user can see only 3 posts on the AMP pages.

[2018-07-19 10:36] ToufiqSuhail commented on #2377
https://secure.helpscout.net/conversation/608314238/28740?folderId=2075531

FTP is available.

[2018-07-19 10:56] Frenchomatic commented on #2343
That is a good move as it effects SEO

[2018-07-19 10:57] ahmedkaludi commented on #2144
I have the solution but we will wait from the user's FTP and then commit on this.

[2018-07-19 10:59] Frenchomatic commented on #1433
sure - where are the files

[2018-07-19 11:02] syedimran22 opened #2383 "H1 to H6 styling is not reflecting in the Swift theme"
Description: H1 to H6 styling is not reflecting in the Swift theme amp

Ref: https://secure.helpscout.net/conversation/620053457/30182/

Screenshot: http://take.ms/24lel

[2018-07-19 11:06] MohammedKaludi commented on #1629
1. Need to add a new field for API key: http://take.ms/NFnuM

2. http://take.ms/JzFvr when View mode is selected  http://take.ms/WrbjM

3. Remove your API key as default

[2018-07-19 11:10] MohammedKaludi commented on #1202
:+1:

[2018-07-19 11:10] #1202 closed

[2018-07-19 11:29] #1580 closed

[2018-07-19 11:34] MohammedKaludi commented on #2320
1. http://take.ms/8FqZ6 and http://take.ms/z55gu
2. Use ampforwp_get_setting() to fetch the value instead $redux_builder_amp['ampforwp-footer-background-color-3']['color'] https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/6171509267965c879ec1f644f1346cc5c7d4d3ad#diff-d2a448840c98f4c9bcf27aab39b04b83R149

[2018-07-19 11:38] MohammedKaludi commented on #2280
http://take.ms/ZNFVC

[2018-07-19 12:07] MohammedKaludi commented on #1575
:+1:

[2018-07-19 12:08] RajuJeelaga commented on #2332
### Task List

- [ ] Check All the Layouts With .98 Beta Version. (This layout Makes Problem https://ampforwp.com/demo/layout-2/amp/)

- [ ] Icons are not Loading https://monosnap.com/file/WD3bSdoF5DR5wMUuUVtaWpj8mxJIU3

- [ ] Pagebuilder Panel is showing Empty https://monosnap.com/file/e2Drvr0l20VlqwR9gaU8FMd81St8CE

[2018-07-19 12:10] ToufiqSuhail opened #2384 "The Option Facebook App ID not necessary in the social icons of AMP panel when using Swift"
The Option Facebook App ID not necessary in Design- Social of AMP panel when using Swift Design.

Ref: https://secure.helpscout.net/conversation/622216964/30408?folderId=1060556

screenshot: https://monosnap.com/file/j7tp0RtKiIKolSRhhixnwXmBnCooSm

[2018-07-19 12:38] RajuJeelaga commented on #2383
Fixed and Ready to be pushed

- Ahmed

[2018-07-19 12:42] RajuJeelaga commented on #2371
1. Responsive Makes problem in page builder
https://monosnap.com/file/JV9FpUt5stUM9nBt0WVBBxDJHazQuR
The condition need to add for the col, When Global sidebar is enable and it should be Custom front page then the col width should be 100%.
@ajeetku

[2018-07-19 12:45] Frenchomatic commented on #2343
Just tested this using this in functions.php . It works for me on AMP takeover scenarios and on hybrid systems the AMP version gets the next and previous links. You may like to try it until it goes into the plugin

[code]

[2018-07-19 13:39] MohammedKaludi commented on #2335
:+1:

[2018-07-19 13:39] #2335 closed

[2018-07-19 13:41] MohammedKaludi commented on #1766
Feedback from user.

:+1:

[2018-07-19 13:41] #1766 closed

[2018-07-19 13:42] beingsmart3 opened #2385 "amphtml tag is getting wrong defined in pagination which is giving 404 error"
Ref:  https://secure.helpscout.net/conversation/623834894/30564?folderId=1914712

Wp and FTP are in

[2018-07-19 13:43] MohammedKaludi commented on #2291
:+1:

[2018-07-19 13:43] beingsmart3 commented on #2385
Ref:  https://secure.helpscout.net/conversation/620922213/30270?folderId=2075531

[2018-07-19 13:43] MohammedKaludi commented on #2339
Also released this code in 0.9.97.6
:+1:

[2018-07-19 13:43] #2339 closed

[2018-07-19 13:45] MohammedKaludi commented on #1509
:+1:

[2018-07-19 13:46] MohammedKaludi commented on #2001
@Tymvie yes and we are using it here https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/9152e462684dfbb3f381154267146915759bcf87

[2018-07-19 14:00] Frenchomatic commented on #2343
This explains why this needs to be released in the very next update - https://yoast.com/pagination-seo-best-practices/

hope the code above helps someone. Solved it for me.

[2018-07-19 14:32] MohammedKaludi commented on #1717
:+1:

[2018-07-19 14:32] #1717 closed

[2018-07-19 14:33] MohammedKaludi commented on #1613
:+1:

[2018-07-19 14:33] #1613 closed

[2018-07-19 14:36] MohammedKaludi commented on #1484
@ahmedkaludi need to discuss on this.

[2018-07-19 14:51] MohammedKaludi commented on #2246
@MARQAS need to make the text translatable
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/4f5204fcfae5bbbf2d7e387892da94481ae19118#diff-6aa5512f7dd8d5ce60fc97b0f340912cR7629

[2018-07-19 15:02] MohammedKaludi commented on #2177
Need to make sure we get the values of nested data as well.

Example

$redux_builder_amp['opt-media']['url']
$redux_builder_amp['primary-menu-background-scheme']['rgba']

[2018-07-19 16:00] MohammedKaludi commented on #2134
this is good, but also need to add the placeholder for amp components in Visual View.

[2018-07-19 16:00] #2364 closed

[2018-07-19 16:02] #1548 closed

[2018-07-19 16:05] MohammedKaludi commented on #2370
:+1:

[2018-07-19 16:05] #2370 closed

[2018-07-19 16:11] MohammedKaludi commented on #2325
:+1:

[2018-07-19 16:35] MohammedKaludi commented on #2360
Pushed in V0.9.97.6
:+1:

[2018-07-19 16:35] #2360 closed

[2018-07-20 05:44] ahmedkaludi commented on #1502
I have provided the addon.

[2018-07-20 08:02] Frenchomatic opened #2386 "Genesis SEO settings"
Not a bug but in the drop down you list Yoast and All in one but I thnk you should also put Genesis in the list. At present Genesis works fine if the filed is not set (empty).

[2018-07-20 11:29] ToufiqSuhail opened #2387 "few elements needs to be added inline styles"
- [x] If the width is set to 100% then it's been automatically be added to the width. Use this code as an example:
https://pastebin.com/KL0w4aFq

- [x] overflow-x: hidden; overflow-y: scroll;  is not been added to inline styles. To test, use this as an example:  https://pastebin.com/g2uSXaqJ
https://secure.helpscout.net/conversation/622592327/30443?folderId=2075531

[2018-07-20 11:33] syedimran22 opened #2388 "Sidebar option as a global one"
Have the sidebar option in the global section and allow them  to show / hide from homepage or single.

In short, stack two options into one with parent option under global section.

REF: https://secure.helpscout.net/conversation/623940506/30581?folderId=2169251

[2018-07-20 12:38] Zabi09 commented on #2332
- [ ] Do we need this function now - http://take.ms/502kY ?

[2018-07-20 15:19] MohammedKaludi commented on #2320
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/670205f199c84e09c27234b4b8682d98b22ffd8d#diff-e57ec3310984798e175233ae89a68fdbR89

Empty check should be done above

[2018-07-21 04:27] SaiGonSeamus opened #2389 "Google Console Errors with WeGlot 2.0"
The following are new errors with WeGlot 2.0 on Version 0.9.97.7

Invalid value for attribute in CSS 'href' in tag 'link rel=stylesheet for fonts' | Not Started |   | 397
-- | -- | -- | --
Error | Disallowed attribute in HTML tag 'a' | Not Started |   | 74
Error | Disallowed attribute in HTML tag 'meta name= and content=' | Not Started |   | 7
Error | Referenced AMP URL is not an AMP

[2018-07-21 06:44] ToufiqSuhail commented on #2361
Regarding the same issue,
https://monosnap.com/file/lj67g3XwsndqycWBqJTKyG3Sr6OZug - The ftp is also available,

[2018-07-21 11:01] Tymvie commented on #2001
@MohammedKaludi unfortunately, this does not solve the problem. We need to use` is_singular()` here: https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/ab935b2f84014e4b5bad60d37b0499e6882f6e63#diff-6aa5512f7dd8d5ce60fc97b0f340912cR6464

[2018-07-23 10:21] MARQAS commented on #2178
Done: d9450ca8cae303c17a26a8a71f1e7cbc5aeb9ff7

[2018-07-23 11:21] valeturchi commented on #2152
Hi Mohammed, I am afraid this hasn't been fixed at all, since one of your colleagues already told me GDPR option works only for https websites and mine is not. Honestly speaking, it's quite absurd, since I never planned to buy an SSL certification and I don't even own an e-commerce, but if I don't do it my AMP website won't be compliant with GDPR law. If you could give a solution I would really ap

[2018-07-23 11:32] beingsmart3 commented on #2051
Please consult with @ahmedkaludi if you having a query

[2018-07-23 11:33] beingsmart3 commented on #2051
Ref:  https://secure.helpscout.net/conversation/623947568/30583?folderId=1914712

[2018-07-23 12:42] MARQAS commented on #2177
We can get it easily. Take an example of URL of the logo from our options.
$logo = ampforwp_get_setting('opt-media');
Then $logo['url'] will give the url of the logo.

[2018-07-23 13:02] MARQAS commented on #1589
No classes present and unable to use the functions

[2018-07-23 13:11] beingsmart3 opened #2390 "Wordpress Admin Color Scheme"
When any user set the custom color in Admin Color Scheme then the AMP options panel also adopt the same color.

See this screenshot:  http://take.ms/xy2pk

[2018-07-24 06:43] syedimran22 opened #2391 "All the Images are Adding AMP at the End of their URL."
Desc: All my images are adding AMP at the end of their URL and it results in error 404 and showing as blocked URL on Adsense.

Ref: https://secure.helpscout.net/conversation/624750312/30644?folderId=2169251
Screenshot: http://take.ms/hFTp4

[2018-07-24 10:02] ToufiqSuhail opened #2392 "Tables overflow in swift theme when adding the tables to the site [TEST + ALT solution]"
Tables overflow when created with more than 2 columns in the swift theme.

Ref: https://secure.helpscout.net/conversation/624072219/30594/

[2018-07-24 13:18] syedimran22 commented on #2332
Description: Plugin Manager is reflecting two times in AMP setting.

Ref: https://secure.helpscout.net/conversation/623328482/30520?folderId=1060556

Screenshot: http://take.ms/bck7r

[2018-07-24 13:46] Zabi09 commented on #2342
The user was using siteorigin page builder by "thinkup" and the content was blank unless enabling the custom AMP editor but we have fixed it on user's end by creating a custom plugin to call the content.

[2018-07-24 13:50] ToufiqSuhail opened #2393 "Homepage is not rendering to AMP until we select the posts type from the reading settings."
The homepage is not rendering to AMP until we select the posts type from the reading settings.

Ref: https://secure.helpscout.net/conversation/616973431/29787?folderId=2075531
WP admin and FTP details available

Another user: https://secure.helpscout.net/conversation/626894324/30833?folderId=1060554
WP admin and FTP are available.

[2018-07-24 13:55] syedimran22 opened #2394 "Amp Compatibility with Featured video plus plugin"
Description: To make Amp Compatibility with Featured video plus plugin.

Ref: https://secure.helpscout.net/conversation/626899934/30834?folderId=2169251

[2018-07-24 14:45] #2372 closed

[2018-07-24 15:03] #2376 closed

[2018-07-24 15:36] MohammedKaludi commented on #2361
ampforwp_findInternalUrl loading many times, need to check.

[2018-07-24 15:38] MohammedKaludi commented on #2391
ampforwp_findInternalUrl loading many times, need to check.

[2018-07-24 16:01] MohammedKaludi commented on #2380
Working and tested with 0.9.97.8

[2018-07-24 16:01] #2380 closed

[2018-07-25 05:35] githubjabbar opened #2395 "Getting the warnings in Error log of Inc42"
REF: https://secure.helpscout.net/conversation/626137517/30777/

Undefined variable: wp in htdocs/wp-content/plugins/accelerated-mobile-pages/templates/features.php on line 6848

Waiting for the credentials.

[2018-07-25 06:41] gareththomasnz commented on #1575
Every time the plugin updates it is broken again

[2018-07-25 06:52] gareththomasnz commented on #1575
Now the source has changed & I dont know how to fix it

	private function build_post_content() {
		if( !empty($this->post->post_content) && false === ampforwp_is_home() && false === is_archive() ){

			$new_post_content = $this->post->post_content;
			// #2001 Filter to remove the unused JS from the paginated post
			$new_post_content = apply_filters( 'ampforwp_post_content_filter', $new_post_cont

[2018-07-25 06:58] gareththomasnz commented on #1575
Most articles seem to be OK - but I changed it back to tewfik-dj's suggestion - will see whathappens

[2018-07-25 07:56] MohammedKaludi commented on #2261
:+1:

[2018-07-25 07:56] #2261 closed

[2018-07-25 08:04] Zabi09 commented on #2332
- [ ] AMPforWP styles and js are also loading in other themes/plugins which users the redux framework like Herald.
See this screenshots:
http://take.ms/3GVmz
http://take.ms/a6Ghq

[2018-07-25 08:23] MARQAS commented on #2332
`Q: Description: Plugin Manager is reflecting two times in AMP setting`
It was in plugin manager plugin, it was removing the section in `after_setup_theme` hook. made a change in that, it will now be resolved.

[2018-07-25 08:26] Zabi09 opened #2396 "Wrong AMPHTML when using static page in reading settings"
Wrong AMPHTML when using the static page in reading settings BUT creating it as a blog page by using page builder or by theme feature.

Reading settings - http://take.ms/4eBGR
Creating a blog - http://take.ms/OiMlR
Page of non-amp - http://take.ms/CmzWz
AMPHTML - http://take.ms/7jbkU

Currently, it's website.com/page/2/amp/ BUT needs to be website.com/amp/page/2/

[2018-07-25 12:03] Frenchomatic opened #2397 "Extra spaces being inserted on lists"
A bit confused by this one.

I have a list in which I recolor bullet points using some fairly standard css code

[code]

However,  I get an extra space being into rendered text on lists when you have opposing brackets  in the  html   `><`.

For example if I put this in the editor `<li><strong>bla bla</strong> - some text</li>`

This gets rendered in the source code as

`<li>SPACE<strong>bla bla</s

[2018-07-25 14:26] Frenchomatic opened #2398 "Problems with categories again. something/amp/404"
This canonical page doesn’t exist - it is meaningless

mydomain/cat/my-category/page/

but this one seems to

mydomain/cat/my-category/amp/page/

This of course produces an error in google console.

The general problem is you have not fixed

mydomain/something/amp/rubbish

This just redirects and it should be a 404.

[2018-07-26 07:56] Frenchomatic commented on #2397
And I confirm it doesn't do this when not using AMP. The :before is handled correctly.

[2018-07-26 07:59] ToufiqSuhail opened #2399 "Quote runs only in block post not on pages"
Quote runs only in block post, not on pages

Ref: https://secure.helpscout.net/conversation/626962505/30843?folderId=2075531

[2018-07-26 08:07] ToufiqSuhail opened #2400 "Why is #amp-user-notification1 showing when the notification bar is in disabled status"
Why is #amp-user-notification1 showing when the notification bar is in disabled status

This is creating conflict with CTA and is not allowing the background colour of CTA bar to get changed.

Getting this issue for all users.

Ref: https://secure.helpscout.net/conversation/618898534/30051?folderId=673452

[2018-07-26 08:36] MARQAS commented on #2332
- [ ] calling of WP_Filesystem_Direct in redux-core.

- [ ] Check calling of other classes as well

[2018-07-26 09:10] ToufiqSuhail opened #2401 "Comments and share not loading on pages only in swift"
Comments and share not loading on pages in swift

Ref: https://secure.helpscout.net/conversation/626962505/30843?folderId=2075531

[2018-07-26 10:30] Frenchomatic commented on #2398
This has now been going round on various versions but never solved once and for all.

If a page doesn’t exist then it is naturally a 404. What you don’t want is an infinite number of 301 redirects. Think about the load on a server if someone spams mydomain.com/amp/xxx mydomain.com/amp/xxxx etc All of these will redirect and load the home page mydomain.com/amp/ . This occurs with every amp url.

Th

[2018-07-26 10:34] Frenchomatic commented on #2397
But this was recently broken - it wasn't  like that on previous versions. Please issue a bug fix.

[2018-07-26 11:07] merajali294 opened #2402 "Embeds not working in Archive Description"
Reference: https://secure.helpscout.net/conversation/624645185/30636?folderId=2090438

A user is trying to add the Video in Category Description through " Add Media Option " and the Embed Video is not rendering in the AMP Page.

[2018-07-26 11:43] Frenchomatic opened #2403 "More issues of spurious spaces"
It seems we have really taken a backward step with how html is being converted from the editor.

Example code

`<h2 class="bottom-shadow">Raid à ski dans <span class="greener">les Cerces</span></h2>
`
gets rendered as

`<h2 class="bottom-shadow">Raid à ski dans <span class="greener">les Cerces</span>SPACE</h2>`

The css for bottom shadow which is simple underlining of the H2

[code]

This appears

[2018-07-27 06:32] ToufiqSuhail opened #2404 "Back to Top link not working in Swift Design"
**Back to Top link** not working in Swift Design

Ref: https://secure.helpscout.net/conversation/626962505/30843?folderId=2075531

[2018-07-27 06:50] Zabi09 commented on #2403
@Frenchomatic

I totally understand your concern about the spaces but can you please tell me that is these spaces are affecting the output of it because I recreated the same on my end and the CSS and heading are appearing perfectly without any issues - http://take.ms/6gRkF

Please let me know.

[2018-07-27 06:59] Frenchomatic commented on #2403
Have a look in the actual source code that it generates and let me know if you get the problem. When I turn minification off the space disappears.

[2018-07-27 07:46] #1420 closed

[2018-07-27 07:49] Zabi09 commented on #1420
Tested on my end and now the content is appearing perfectly in the amp as well - http://take.ms/BPEOO

[2018-07-27 08:39] teknofilo commented on #1397
I still see some queries in non-AMP pages:

![teknofilo - image 001](https://user-images.githubusercontent.com/17863900/43310953-5b3f5dbc-9189-11e8-96e1-7f2521c2b61f.jpg)

[2018-07-27 10:32] ToufiqSuhail commented on #2398
Needs to get that fix as we have a valid reason where people can spam you by placing a link and Google will consider that as a valid URL.

Ref: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2398

[2018-07-27 11:09] Frenchomatic commented on #2403
And if I roll back to a previous version Version 0.9.96.1 for example this bug doesn't exist.

[2018-07-27 11:09] Frenchomatic commented on #2397
And if I roll back to a previous version Version 0.9.96.1 for example this bug doesn't exist.

[2018-07-27 11:31] Zabi09 commented on #1479
There is no text field for entering the content so I have put in the excerpt section which allows HTML - http://take.ms/HrdJb
Added the shortcode along with normal iframe - http://take.ms/mYidU
The output of the non-amp - http://take.ms/KLPA2
The output of AMP - http://take.ms/U39in

Lastly, everything looks good without any validation

[2018-07-27 13:52] Zabi09 commented on #1508
I have tested the issue and found that now the CSS critical path - http://take.ms/ZjzPS is only appearing in non-amp - http://take.ms/qplrX and it's not appearing in AMP - http://take.ms/IlVG2

[2018-07-27 14:19] shtefcs opened #2405 "When Google Analytics is ON ... (Parallelize downloads)"
I just noticed when i turn on Google Analytics in AMP plugin, the Pindgdom Tool reports **Parallelize downloads across hostnames**

https://i.imgur.com/EgouRTr.png

Is there fix for that?

[2018-07-27 14:20] ahmedkaludi commented on #2405
@shtefcs I don't think that has anything to do with the Analytics.

Can you share the URL that you are checking so that I can check and let you know.

[2018-07-27 14:35] shtefcs commented on #2405
Okay, here is the url to the website, (**NSFW Content**) https://goo.gl/bk2M8D and here is the [Pingdom](https://tools.pingdom.com/#!/bm42zF/https://smuted.com/?s=teen+beauty)

[2018-07-27 14:36] shtefcs commented on #2405
Also, noticed this warning as well when Google Analytics is turned ON.

![](https://i.imgur.com/2ZrtEWo.png)

Is it possible to combine?

[2018-07-28 05:35] Zabi09 commented on #2405
@shtefcs
That's really strange to hear that, Will you please a staging website which doesn't have the NSFW Content and then you can send the credentials to us on team@magazine3.com and let me know

Once I receive your info I will start working on it.

[2018-07-28 11:51] Zabi09 commented on #1918
Will be done in this ticket - #1397

[2018-07-28 11:51] #1918 closed

[2018-07-28 12:03] Zabi09 commented on #1397
@teknofilo
We are extremely sorry for the inconvenience, Will you please share your wp-admin and FTP details on this email - team@magazine3.com and I will personally look into your issue and I make sure it will be fixed as soon as possible.

Please let me know and I will do everything to fix this issue.

[2018-07-28 12:16] #2161 closed

[2018-07-28 14:17] Frenchomatic opened #2406 "Seeing more cases of failure to render >< in the html with spurious SPACES"
Additional spaces are being put in where this `><` is in the editor or even in a file for rendering the logo. **The response on the forum wasn't really good enough given this is basic html. Nobody would expect to see something like this being rendered - see where it is putting SPACE:

`<div class="amp-logo">SPACE<a href="https://www.mydomain.com/amp/">SPACE<amp-img src="https://www.mydomain.com/wp

[2018-07-28 14:20] Frenchomatic commented on #2403
see #2406

[2018-07-28 14:20] Frenchomatic commented on #2397
see #2406

[2018-07-28 14:38] MohammedKaludi commented on #2134
:+1:

[2018-07-28 14:38] #2134 closed

[2018-07-28 14:40] MohammedKaludi commented on #2162
@MARQAS

[2018-07-28 14:42] MohammedKaludi commented on #2396
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/66ff0a0fcc884f4ce6e290c3b423807413089b4f#diff-6aa5512f7dd8d5ce60fc97b0f340912cR371

 Need to rewrite the function name

[2018-07-28 14:44] Frenchomatic commented on #2406
I just went and looked at one file logo.php  -  php cannot be written like this or new lines will be put in.

Here is just one line and it puts in multiple spaces and especially so when the 'if test' fails.

          `<a href="<?php echo esc_url( $ampforwp_home_url ); ?>"  <?php if($set_rel_to_noamp){ echo ' rel="nofollow"'; } ?>  >`

Here is what logo.php outputs when no minimization is being us

[2018-07-28 14:49] MohammedKaludi commented on #2285
:+1:

[2018-07-28 15:07] MohammedKaludi commented on #2334
need to have an empty variable.
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/2d0f5c4c04a11d7143d3a95f9edce444b41afa09#diff-cb16861af9ff34ccd298041891008f49R293

[2018-07-28 16:42] Frenchomatic commented on #2406
Modifying Line 5554 in features.php seems to get rid of these damn spaces but I don't know if there is a reason why it was coded this way.

`        $process = preg_replace(array ('/\>[^\S ]+' . $mod, '/[^\S ]+\<' . $mod, '/\s+/' ), array('> ', ' <', ' '), $process);
`

If I remove the spaces in  `array('> ', ' <', ' '),`  like this then spaces in the html then code like `<li><strong>` renders cor

[2018-07-28 16:47] Frenchomatic commented on #2406
This modification still doesn't solve the problem with logo.php which has spaces being put in.

[2018-07-30 01:56] meno010 opened #2407 "Notice: Undefined index: amp-rtl-select-option"
1 - I have these errors

Notice: Undefined index: amp-rtl-select-option in /home/bestcop2/public_html/wp-content/plugins/accelerated-mobile-pages/pagebuilder/modules/blurb-mod-module.php on line 59

Notice: Undefined index: amp-rtl-select-option in /home/bestcop2/public_html/wp-content/plugins/accelerated-mobile-pages/pagebuilder/modules/counter-mod-module.php on line 39

Notice: Undefined index:

[2018-07-30 05:32] Zabi09 commented on #2407
@meno010
That's really strange, Will you please contact us on team@magazine3.com I will personally take a look at those notices and also I will fix your problem of the redux framework.
Please let me know

[2018-07-30 07:04] Sejiro-Hiko commented on #2367
If there's no menu set up then the following errors shows up
~
PHP Notice:  Trying to get property 'before' of non-object in C:\wamp64\www\animegate\wp-content\plugins\accelerated-mobile-pages\classes\class-ampforwp-walker-nav-menu.php on line 57

PHP Notice:  Trying to get property 'link_before' of non-object in C:\wamp64\www\animegate\wp-content\plugins\accelerated-mobile-pages\classes\class-amp

[2018-07-30 07:06] Sejiro-Hiko commented on #2367
If there's no menu set up then the following errors shows up

PHP Notice:  Trying to get property 'before' of non-object in C:\wamp64\www\animegate\wp-content\plugins\accelerated-mobile-pages\classes\class-ampforwp-walker-nav-menu.php on line 57

PHP Notice:  Trying to get property 'link_before' of non-object in C:\wamp64\www\animegate\wp-content\plugins\accelerated-mobile-pages\classes\class-ampf

[2018-07-30 08:14] Frenchomatic commented on #2406
So I have an email from you that my edit has no bad side effects  - will this edit be included in the next release?

[2018-07-30 08:51] Sejiro-Hiko commented on #2367
( ! ) Notice: Undefined index: page in C:\wamp\www\1\wp-content\plugins\accelerated-mobile-pages\accelerated-moblie-pages.php on line 433

To avoid this error `$screen = get_current_screen();` is being used ref to some other commit.

[2018-07-30 09:04] Sejiro-Hiko commented on #2367
Undefined variable: categories_array in C:\wamp64\www\animegate\wp-content\plugins\accelerated-mobile-pages.0.9.97.6\includes\options\admin-config.php on line 4927

when there are no posts on site.

[2018-07-30 11:13] Sejiro-Hiko commented on #2258
It appears that the issue has been resolved by namespace which was implemented by @MARQAS .

[2018-07-30 12:16] Zabi09 opened #2408 "Wrong implementation of load_plugin_textdomain function"
Firstly there are two load_plugin_textdomain functions loading on the main file - http://take.ms/UIPJL and both have the different paths and names and there is also no "Domain Path" path in the main file header and also TinyMCE's "load_textdomain" function is loading which is not necessary.
We are testing on "Display text domains" plugin.

[2018-07-31 06:40] Sanjeevsetu opened #2409 "Out of Memory"
Fatal error: Out of memory (allocated 2097152) (tried to allocate 110592 bytes) in C:\xampp\htdocs\wordpress\wp-content\plugins\accelerated-mobile-pages\includes\options\admin-config.php on line 4957

[2018-07-31 07:43] ToufiqSuhail opened #2410 "After the AMP URL, ?nonamp=1 appears"
After the AMP URL, ?nonamp=1 appears which is which are trying to get crawled and creating an error in crawling.

Ref: https://secure.helpscout.net/conversation/631229343/31180?folderId=1060556
Waiting for WP and FTP

[2018-07-31 09:48] Sejiro-Hiko commented on #2096
AMP Layout Array appearing twice was fixed in issue #2345

[2018-07-31 11:48] Zabi09 commented on #2338
@BeknSeattle
I have checked your website - http://www.joygibek.com/2016/07/sprites/?amp and currently, you don't have any warnings at the moment and it seems that you have also disabled the lightbox option, Will you please enable it and let me know at team@magazine3.com
I will do everything to fix your issue.

[2018-07-31 13:04] beingsmart3 opened #2411 "Need to make a space in meta information and published date is not getting translated."
Need to make a space in meta information and published date is not getting translated.

Ref:  https://secure.helpscout.net/conversation/631114274/31175?folderId=1914712

see this screenshot:  https://prnt.sc/kcxcjy

see this screenshot:  https://prnt.sc/kcxcak

Wp and FTP are in

[2018-07-31 13:30] ahmedkaludi commented on #2409
@Zabi09 what is this?

[2018-07-31 17:43] nash-ye opened #2412 "Collision with WP REST API"
Starting from version 0.9.97.3, the plugin causes a blank page on `wp-json/wp/v2/posts` end-point with no error message or log. Although 0.9.97.3 is a minor update. However, there are 107 edited files compared to 0.9.97.2 and no proper changelog about it!. Do you know what may cause the collision with WP REST API? I couldn't reproduce the problem yet.

https://plugins.trac.wordpress.org/changeset?

[2018-08-01 04:58] Zabi09 commented on #2409
This is because of PWA and if we rename it the error is gone

[2018-08-01 05:28] Zabi09 commented on #2412
@nash-ye
We have tested the same on our end with the latest as well as the old versions and it's working perfectly - http://take.ms/1S1TI

Will you please share the URL of your website, So that we will check and let you know.

[2018-08-01 07:43] syedimran22 opened #2413 "AMP should remove spaces from GTM ID automatically."
Desc: Spaces in Google Tag manager ID from the options panel should be removed automatically.

ref: https://secure.helpscout.net/conversation/622297628/30415?folderId=1060556
Screenshot:  http://take.ms/F1HYe

[2018-08-01 07:50] Zabi09 commented on #2356
No condition in master - http://take.ms/frePQ and this issue is already fixed in beta version - http://take.ms/xP3Qe

[2018-08-01 08:13] beingsmart3 opened #2414 "Add a switch option of AMp page builder in the page builder section."
Need to create an option of AMP page builder in page builder section of AMp panel, in which user can be enabled or disabled the page builder from the settings. and the option should be enabled by default.

(Junaid) Ref:  https://secure.helpscout.net/conversation/626844858/30823/?folderId=1914712

[2018-08-01 08:35] Frenchomatic commented on #2406
Answer no it wasn't put into version Version 0.9.97.9

[2018-08-01 08:53] nash-ye commented on #2412
Yes, I know, it's a strange problem, I tried to reproduce it on a new WP instance but with no luck. Currently, we are using the version 0.9.97.2 on production. What you suggest?

[2018-08-01 08:53] ahmedkaludi commented on #2412
@nash-ye try to use the latest version and see if it works?

[2018-08-01 09:39] Frenchomatic opened #2415 "Blank lines inserted into code"
OK so further investigation shows that if you have `><` in the editor then a blank line gets inserted. Minmisation afterwards produces a space but the problem occurs before that part of the process.

example

`<li><strong>`  and this gets put in the source

[code]

[2018-08-01 09:44] nash-ye commented on #2412
Nope, it doesn't work, all the versions starting from v0.9.97.3.

[2018-08-01 11:18] ahmedkaludi opened #2416 "Addthis Support"
https://www.addthis.com/blog/2018/07/23/addthis-is-now-available-for-amp/#.W2GW7NgzbSx

[2018-08-01 12:25] beingsmart3 opened #2417 "Facebook comment box appear one than once"
Facebook comment box appear one than once

Ref:  https://secure.helpscout.net/conversation/609550431/28920?folderId=1914712

screenshot:  http://take.ms/oU5zB

[2018-08-01 13:16] RajuJeelaga opened #2418 "Conflict with Layouts Header Options"
https://github.com/ahmedkaludi/amp-layouts/issues/16

[2018-08-01 16:18] Frenchomatic commented on #2415
Look at class AMP_Content_Sanitizer in class-amp-content.php

$content containing `><` from the editor is fine up until where it gets sanitized. Blank lines do not get inserted.  You can see that if $content contains `><` which is in the editor then $sanitized_content will have a blank line inserted. If you trace it through you will see class AMP_Content_Sanitizer is where the problem occurs with

[2018-08-02 05:12] Zabi09 commented on #2412
One of our developers have replied to you on this issue on our support ticket #5769, Will you please check that once and let us know,

[2018-08-02 05:36] Frenchomatic commented on #2415
see this https://github.com/Automattic/amp-wp/issues/1304#issuecomment-409682855

[2018-08-02 07:03] Zabi09 commented on #2407
@meno010
Will you please contact us on team@magazine3.com to debug your issues, Please let me know

[2018-08-02 07:17] Zabi09 commented on #2409
Closing this ticket approved by @ahmedkaludi

[2018-08-02 07:17] #2409 closed

[2018-08-02 07:31] nash-ye commented on #2412
Thank you.
I had replied on him.

Please, let this issue open until we fix it, maybe someone else is facing the same problem.

[2018-08-02 07:51] beingsmart3 opened #2419 "Latest post title is displaying in the AMP homepage instead of site title"
When the user sets the static page in reading settings and homepage in AMP, then the homepage title is displaying the latest post title.

Also unable to recreate the issue on the local host.

Ref:  https://secure.helpscout.net/conversation/631689534/31247?folderId=1060554

Asked for the FTP

[2018-08-02 07:54] merajali294 commented on #2406
@Zabi09, we need to fix this issue.

[2018-08-02 07:54] merajali294 commented on #2403
@Zabi09, we need to fix this issue.

[2018-08-02 10:09] beingsmart3 commented on #2367
[error_log.txt](https://github.com/ahmedkaludi/accelerated-mobile-pages/files/2253041/error_log.txt)

Ref:  https://secure.helpscout.net/conversation/632389161/31327?folderId=1914712

[2018-08-02 10:40] beingsmart3 opened #2420 "Typo in "Hide AMP for Posts from All pages" (0.9.98)"
You have a small mistake in the text for the "info" tooltip. It's written "Hide AMP for Posts from All pages…" when you should have written "Hide AMP from all Posts"

Screenshot:  https://monosnap.com/direct/cuDLMx6BmlDRynNkFHn0Cf3FnJipbn

[2018-08-02 10:54] Frenchomatic commented on #2406
see this #2415

[2018-08-02 10:58] Zabi09 commented on #2322
The issue was from the Lazy Load of "JPG, PNG Compression and Optimization" Plugin, So recreated the same on our localhost and also implemented the same on users end.

[2018-08-02 13:00] merajali294 opened #2421 "IP Anonymization"
The Value for the anonymizeIP is currently set to " True " which should be changed to " Set ".

Reference 1: https://secure.helpscout.net/conversation/632279261/31301?folderId=1060554

Reference 2: https://wordpress.org/support/topic/google-analytics-ip-anonymization/

[2018-08-02 14:31] MohammedKaludi commented on #2268
use a built in function
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/e41e842df8cfb38716fb1eee9c636cdfdb24564f#diff-66456bcdcc1e8a0ec3147375393a64a0R71

[2018-08-02 14:56] MohammedKaludi commented on #2322
:+1:

[2018-08-02 15:09] MohammedKaludi commented on #2356
:+1:

[2018-08-02 15:09] #2356 closed

[2018-08-02 15:55] MohammedKaludi commented on #2349
:+1:

[2018-08-02 16:02] MohammedKaludi commented on #2382
:+1:

[2018-08-02 16:02] #2382 closed

[2018-08-02 16:03] MohammedKaludi commented on #2334
:+1:

[2018-08-02 16:05] MohammedKaludi commented on #2292
:+1:

[2018-08-02 16:20] MohammedKaludi commented on #2342
:+1:

[2018-08-02 16:20] #2342 closed

[2018-08-03 08:19] Frenchomatic opened #2422 "Looks like AMP vendor code is fixed and should get issued"
https://github.com/Automattic/amp-wp/issues/1304

Issues with the DOM

Effects this #2415

[2018-08-03 11:23] Zabi09 commented on #2379
@SageFargo
Are you adding the ads by using our advance AMP ads extension with "Ads Inbetween Loop" option - http://take.ms/OMx04
If yes then please contact us at team@magazine3.com and one of our developers will definitely fix your issue.

[2018-08-03 11:38] MohammedKaludi commented on #2344
It is working perfectly and also pushed in master many days ago.

:+1:

[2018-08-03 11:38] #2344 closed

[2018-08-03 11:43] MohammedKaludi commented on #2348
@ahmedkaludi need to make the design better.

[2018-08-03 12:36] Zabi09 commented on #2386
@Frenchomatic
I have checked the Genesis SEO settings and it is only working in non-amp version and not in the AMP version.
For example - I have checked the title - http://take.ms/7sKNt and here is the result
non-amp - http://take.ms/wHNuk
AMP - http://take.ms/FzXQT

Will you please elaborate exactly what is working fine, So that we can check that and create the feature.

[2018-08-03 12:50] syedimran22 opened #2423 "Marfeel plugin is blocking Internal pages of AMP and rendering 503 error"
Desc: Marfeel plugin is blocking Internal pages of AMP and rendering 503 error.
Ref: https://secure.helpscout.net/conversation/629140646/31006?folderId=2169251

[2018-08-03 12:55] Frenchomatic commented on #2386
First of all I am only talking about the drop down box in the admin panel - to actually set Genesis as an option (at present nothing, yoast or all in one SEO is offered). If you set nothing then the Genesis SEO settings work fine for me page by page.  **I don't use the sitewide SEO settings and only do things page by page.**

So the Genesis SEO settings are working for me on a page by page basis.

[2018-08-03 13:05] Frenchomatic opened #2424 "Wrong url in Non-Amp Version link on blog posts page and category archives"
It seems that the link (Non-amp version) back to the canonical page for a category page or blog posts page - pages 2,3 etc is broken. It doesn't return to the canonical which is rendered correctly in the meta area.  The link only works correctly for the first page on an archive. I have only tested design 2.

[2018-08-03 13:10] Frenchomatic opened #2425 "Additional lines and spaces being put into logo and Non-AMP Version link"
Looks like additional blank lines are being put into the logo html which is independent of the main content DOM serialization issue (#2422). Also an extra space is being placed into the Non-AMP Version link. In the code below found in feattures.php I mark the spurious SPACE which needs removing

`   if ( $ampforwp_backto_nonamp ) { ?> <a class="view-non-amp" href="<?php echo esc_url($ampforwp_back

[2018-08-03 14:07] syedimran22 commented on #2377
When JetPack plugin is activated, it is throwing the error

"Fatal error: Uncaught Error: Class 'AMPforWP\AMPVendor\Jetpack' not found in /var/www/vhosts/****/stage.****/wp-content/plugins/accelerated-mobile-pages/includes/vendor/amp/jetpack-helper.php:13 Stack trace: #0 /var/www/vhosts/****/stage.****/wp-includes/class-wp-hook.php(286): AMPforWP\AMPVendor\amp_jetpack_mods(0) #1 /var/www/vhosts/**

[2018-08-03 14:39] MohammedKaludi commented on #2367
More debug errors found

Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'ampforwp_new_gallery_images' not found or invalid function name in /web/htdocs/www.cosenzachannel.it/home/news/wp-includes/class-wp-hook.php on line 286

https://www.cosenzachannel.it/2018/05/22/i-ragazzi-del-liceo-telesio-orgoglio-della-provincia-di-cosenza/amp

[2018-08-03 16:02] SageFargo commented on #2379
No, just added the code to the amp html code from google

[2018-08-04 05:43] syedimran22 commented on #2412
Desc:  WP REST API Isn't Working with AMP plugin
Ref: https://secure.helpscout.net/conversation/631581381/31223/?folderId=1060556

[2018-08-04 05:51] RajuJeelaga opened #2426 "New Layouts in the AMP"
- [ ] New Header with new fields.

- [ ] New Footer with new fields.

[2018-08-04 06:08] merajali294 opened #2427 "To make the Compatibility with Gutenberg"
https://wordpress.org/support/topic/gutenberg-wordpress-5-0-is-not-far-away/

GutenBurg:

https://wordpress.org/plugins/gutenberg/

[2018-08-04 08:34] Zabi09 commented on #2407
We have fixed both of your issues and it will be released in the next update but if you need instantly then contact us on team@magazine3.com, I will personally fix that on your end.

[2018-08-04 11:13] Frenchomatic commented on #2343
I am not sure your commit will work properly. It will put a next link on a static home page.

[2018-08-04 12:40] MARQAS commented on #2377
Resolved in #2287

[2018-08-04 12:45] MARQAS commented on #2374
@Zabi09 can you please look into it?
'ampforwp_cpt_and_post_name_conflict_resolve' is running on non-amp as well which is causing some errors.
And also try to rename it to a better name.

[2018-08-05 09:53] raunakhajela opened #2428 "Amp not working for wordpress static page templates"
I create a page and used amp page builder to design my custom page. It is working fine as usual but when I use that same page for homepage display from settings>reading it doesn't work.

[2018-08-05 10:35] MohammedKaludi commented on #2428
Have you setuped the custom frontpage from amp options panel?

[2018-08-05 10:42] raunakhajela commented on #2428
Yes

[2018-08-05 10:50] MohammedKaludi commented on #2428
You need to setup a custom frontpage from "AMP Options Panel".

I have checked the link you have mentioned and I think it is not setuped from AMP option panel.

Can you once please check and let me know?

[2018-08-05 10:54] raunakhajela commented on #2428
It's working now. Had some issue with page cache and server. Thanks :+1:

[2018-08-05 10:54] #2428 closed

[2018-08-05 17:42] Frenchomatic commented on #2425
For logo.php it could be coded like this and you will not have all these extra lines being put in. Basically put the  `<div class="amp-logo">` in the correct place (you are placing it outside of the php tags) and remove some of the spaces in the link

[code]

[2018-08-06 04:52] merajali294 opened #2429 "Audio not working in AMP"
Reference:  https://wordpress.org/support/topic/html5-playlist-support/

Whenever an Audio is being added, it plays in Non-AMP Version but not in the AMP Version.

[2018-08-06 05:16] beingsmart3 opened #2430 "Need to implement the Facebook live chat feature in AMP"
Ref:  https://secure.helpscout.net/conversation/633102221/31382?folderId=1914712

Here are the hints which help to implement this feature:

https://www.amp-blogger.com/2018/02/add-facebook-messenger-live-chat-to.html

https://blogr-amp.blogspot.com/2018/02/facebook-messenger-live-chatbox-for-amp.html

[2018-08-06 05:40] beingsmart3 opened #2431 "Allow SVG format Logo in AMP"
Ref:  https://secure.helpscout.net/conversation/632971076/31371?folderId=1914712

[2018-08-06 07:27] Zabi09 opened #2432 "Some improvements for better enhancement"
- [x] Save button of the AMP panel should be in the absolute position - http://take.ms/6k2XP

- [x] AMP icon must also be there in post edit as well (Admin Bar) - http://take.ms/XFlkF

- [x] Should be opened in the new tab if click visit AMP - http://take.ms/PLSsW

[2018-08-06 08:27] beingsmart3 opened #2433 "Hide AMP Bulk tools for Custom Post Types"
Need to create a custom post type option in Individual AMP Page (Bulk Edit). so a user can hide or show the custom post type.

For more details please visit the help scout link:

Ref:  https://secure.helpscout.net/conversation/628376164/30967?folderId=1914712

[2018-08-06 08:36] ansaritalha opened #2434 "Page Float to right and showing menu content when page scroll horizontally in iPhone device"
in the iPhone the page showing menu content when its scroll horizontally.

solution: add this CSS it will fix the problem.
.m-ctr {
position: fixed;
overflow: scroll;
}
.m-scrl
{
display: inline-block;
width: 100%;
max-height: 94vh
}
Ref: https://secure.helpscout.net/conversation/626900191/30835?folderId=673457

[2018-08-06 08:37] ToufiqSuhail opened #2435 "Yoast analysis is giving false readings for the SEO"
User-created an AMP site with amp layout framework. But, the Yoast is not reading the amp layout framework
It is showing:
1. 0 words and there are certainly not 0 words
2. Internal and external links are not showing up on Yoast

Ref: https://secure.helpscout.net/conversation/633089991/31380?folderId=2075531
WP available

[2018-08-06 08:54] MohammedKaludi commented on #2361
Updated some code and tested on users website.

Commit: https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/b63be8bbee3524e8234ac7c46fad139b29b028a7

Issue details: https://secure.helpscout.net/conversation/630761121/31143/?folderId=1060556

[2018-08-06 09:16] MohammedKaludi commented on #2177
Moved the code from features.php to accelerated-mobile-pages.php
https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/15f227ad9a452442fa6bd52d84184358324212e9

[2018-08-06 09:52] MohammedKaludi opened #2436 "Detect tablets separately, not consider it as mobile."
We can use a lightweight mobile detection script  http://mobiledetect.net/
that can differentiate between mobiles and tablets.

This will also help resolve this ticket as well https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/1444

[2018-08-06 09:53] MohammedKaludi commented on #2436
One more request: https://wordpress.org/support/topic/configure-for-different-android-devices/

[2018-08-06 09:57] Zabi09 opened #2437 "Audio Playlist Support"
Need to make the audio playlist compatibility - http://take.ms/PhxED
just like this - http://take.ms/yugsJ

[2018-08-06 09:58] Zabi09 commented on #2429
This will be fixed in #2437

[2018-08-06 09:58] #2429 closed

[2018-08-06 12:27] Zabi09 commented on #2431
- [ ] SVG logo needs to work with flexible width also - http://take.ms/YcSjG

- [ ] Should also work on AMP page builder

[2018-08-06 13:11] RajuJeelaga commented on #2418
@ahmedkaludi Sir, Need to review and check all the Headers and after that @MohammedKaludi  sir will see the code and he close this ticket.

[2018-08-06 13:15] merajali294 opened #2438 "FATAL ERROR-->get_the_tags wasn't getting called, due to which the it was giving Memory Exhausted FATAL ERROR"

[2018-08-06 14:02] syedimran22 opened #2439 "Yoast by Breadcrumbs is reflecting Home Two times."
Desc: Yoast by Breadcrumbs option is reflecting Home Two times.
Ref: https://secure.helpscout.net/conversation/634395015/31475?folderId=2169251
Screenshot: http://take.ms/CsZOD

[2018-08-07 06:05] ansaritalha opened #2440 "Add AMP consent in AMP Theme Framework"
We need to add amp consent code in the amp theme Framework.

[2018-08-07 07:41] MohammedKaludi commented on #2438
Commit : https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/2e23a0f2ae2df8e4400492bb4d5f672fa37c74ca

[2018-08-07 08:28] ansaritalha opened #2441 "words are breaking and not readable"
words are breaking and not properly readable in the beta version [0.9.98] because of the
{word-break:break-all} CSS property.

Solution: use  {word-wrap: break-word} instead of {word-break:break-all} it will solve the issue.

[2018-08-07 08:29] beingsmart3 opened #2442 "Vc Shortcode issue in beta 0.9.98"
Ref:  https://secure.helpscout.net/conversation/623856477/30568?folderId=1914712

Screenshot:  http://take.ms/QLd1T

[2018-08-07 08:34] syedimran22 opened #2443 "Internal Link Option is not Working in beta"
Desc: Internal Link Option is Not Working in Beta tested in my local Host.

[2018-08-08 09:07] beingsmart3 opened #2444 "amp img error when images are coming from the wordpress cdn"
The user is facing the error of width and height amp Img is set to invalid because the images are coming from the WordPress CDN and when we enabled the minify option than the error gets fixed also the images are loading.

Screenshot:  http://take.ms/rIerE

Ref:  https://secure.helpscout.net/conversation/635858982/31587?folderId=1914712

[2018-08-08 09:46] Zabi09 commented on #2332
Gallery shortcode is not rendering the images in beta and that is because of this filter - http://take.ms/BKhyl

Added in: https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/a729c3c719c3bfe99f9c5e31c7f167364382679a

[2018-08-08 15:31] Frenchomatic opened #2445 "Blank Lines in HTML Source code : Beta test"
I have tested the beta version and this is not solved

#2425  The logo part - please see how I have coded it which fixes the issue.

#2422 Blank lines are added when serializing HTML between elements that should not have whitespace  - solution given here #2422 (just need the utils folder) and here https://github.com/Automattic/amp-wp/pull/1309#issuecomment-410081948 .  An AMP folder is offered in

[2018-08-09 05:01] Zabi09 commented on #2439
This problem was from the Yoast SEO plugin and it was fixed by the user, so closing this ticket by approval of @ahmedkaludi

[2018-08-09 05:01] #2439 closed

[2018-08-09 05:30] Tjasaz opened #2446 "Save settings button not showing in builder"
I have a WordPress website with Avada theme. Tried to use the AMP plugin builder, but it doesnt show any save buttons when I add any module and try to edit it. Any suggestions? Thanks!

<img width="1407" alt="screen shot 2018-08-09 at 07 28 52" src="https://user-images.githubusercontent.com/42230166/43879796-ee2aa8d6-9ba5-11e8-9412-ea7d7c9a66e6.png">

[2018-08-09 06:40] MARQAS commented on #2442
More details can be found here: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2287

[2018-08-09 06:40] MARQAS commented on #2287
Earlier the Priority of 'amp_render' was set to 0 to avoid conflict with AMP, but it was causing errors with PageBuilders as it getting rendered very early. To avoid such errors Priority is changed to default and removed the 'amp_render' of AMP.
Also made some changes to resolve warnings.

[2018-08-09 07:24] Zabi09 commented on #2444
This issue was coming from the "Clearly – WordPress optimization plugin" and the problem was coming from the HTML minify option of that plugin and if we enable our plugin's minify option then the problem will be fixed and I have also contacted them for the solution - https://wordpress.org/support/topic/error-on-the-html-minify-option

[2018-08-09 07:46] Zabi09 commented on #2446
@Tjasaz Are you using the Safari and in that the Save Module is not working?

Will you please provide your wp-admin and FTP details on team@magazine3.com I will personally look into your issue and fix it on your end.

Please let us know,

[2018-08-09 07:48] beingsmart3 opened #2447 "Need to Make the Compatibility with the footnotes plugin."
Plugin: https://wordpress.org/plugins/footnotes/

Ref:  https://secure.helpscout.net/conversation/637233890/31766?folderId=1914712

[2018-08-09 08:01] Tjasaz commented on #2446
Yes, this is Safari. Unfortunately, our company security rules don't allow sharing any login data. Tried it with Firefox, the button shows.

[2018-08-09 08:42] Zabi09 commented on #2424
@Frenchomatic
We have updated the code will you please update that on your end and let us know

[2018-08-09 08:45] Zabi09 commented on #2446
@Tjasaz ok no problem,

Just add this code - https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/3f163b0049c3c96d92667083d62cb9712d6611a2

And let us know, your issue is fixed or not.

[2018-08-09 09:06] MARQAS commented on #1968
It seems that All the code related to Gallery has been moved to class-amp-gallery-embed, is it intentional?
Can we do it by making minimal changes in that file? @santosh8793 @MohammedKaludi

[2018-08-09 09:19] merajali294 opened #2448 "To change the Icon of Telegram in all the Designs"
A user request is to change the official icon of the Telegram messenger.

Reference :https://wordpress.org/support/topic/the-official-icon-of-the-telegram-messenger/

Screenshot: http://i100.fastpic.ru/big/2018/0807/57/39d38c5ad28d6a18a1025be391cdf457.png

[2018-08-09 09:31] merajali294 opened #2449 "AMP-Mustache Warning"
For Ex:

https://www.screencast.com/t/X7mXe4l1

Users have reported that they're facing these Warnings on their Pages.

[2018-08-09 09:35] Frenchomatic commented on #2424
Downloaded you commit. This seems to now work correctly and it also solves the non-AMP version link part of this #2425 . A minor thing but you still have an unwanted or needed space in the TOP link `<a href="#header">TopSPACEHERE</a>`

[2018-08-09 10:09] Frenchomatic commented on #2445
@MARQAS Glad to see you are back - you disappeared. To clear up any confusion, I wrote to Automattic and they recognized the problem (see links above). One of the core WP developers provided a solution for the whole of the vendor AMP plugin. I simply extracted the utils folder containing the files dealing with the DOM and replaced it into your plugin AMP for WP.  The serialization within $content

[2018-08-09 10:31] Zabi09 commented on #2422
ok we will fix this issue on #2445

[2018-08-09 10:31] #2422 closed

[2018-08-09 10:33] Zabi09 commented on #2425
We have already fixed the view non-amp issue and the logo issue will be fixed in #2445

[2018-08-09 10:33] #2425 closed

[2018-08-09 10:35] Zabi09 commented on #2415
This ticket will be fixed in #2445

[2018-08-09 10:35] #2415 closed

[2018-08-09 10:37] Zabi09 commented on #2406
This spaces issues will be fixed in #2445

[2018-08-09 10:37] #2406 closed

[2018-08-09 10:38] Zabi09 commented on #2403
This will be fixed in #2445

[2018-08-09 10:38] #2403 closed

[2018-08-09 10:39] Zabi09 commented on #2397
This will be fixed in #2445

[2018-08-09 10:39] #2397 closed

[2018-08-09 11:07] ahmedkaludi opened #2450 "save timestamp, to know when they installed the plugin."

[2018-08-09 12:14] Zabi09 commented on #2449
We are dynamically adding amp mustache latest scripts that is -
<script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-latest.js" async></script>
http://take.ms/fP0cD
http://take.ms/GnCfJ

And this warning is not coming from our AMPforWP plugin and so closing this ticket approved by @ahmedkaludi

[2018-08-09 12:14] #2449 closed

[2018-08-09 12:29] Zabi09 commented on #2412
@nash-ye is your issue solved? Will you please reply back on our support ticket #5769

[2018-08-09 12:42] Frenchomatic commented on #2424
Yerr the specific edit works in the existing features.php but the whole file crashes my version 0.9.97.9 - I can see in the commit a few things have changed.

[2018-08-09 13:04] MohammedKaludi commented on #1968
Keep it as it is, as we are not planning to update the core any time soon, so we can keep it there and just note it down in vendor changelog file.

[2018-08-09 15:09] MohammedKaludi commented on #2361
“ It`s very nice plugin I have only one problem so far. if I turn all links to auto add /AMP I cant use MAILTO:example@example.com when link is clicked is example@example.com/AMP ”

@Zabi09 can you please do a test?

[2018-08-10 05:59] ahmedkaludi commented on #551
- [ ] Allow users to change the number of posts when the YARPP is used: http://take.ms/rqsWI

[2018-08-10 06:01] ahmedkaludi commented on #1753
- [ ] Align the welcome page properly. http://take.ms/nFGZT5

- [ ] Changelog section: we need to align the text to the left, and a separator between the two versions.

[2018-08-10 06:11] MARQAS commented on #2367
Notice: Undefined index: pagename in O:\wamp64\www\weekly\wp-content\plugins\accelerated-mobile-pages\templates\features.php on line 6066

[2018-08-10 06:37] ahmedkaludi commented on #2172
- [ ] Need to add UTM tags to rest of the extensions in http://take.ms/ClMU8

[2018-08-10 07:06] ahmedkaludi commented on #1968
REVIEW:

- [ ] Discuss the code suggestion by @MARQAS

- [ ] Carousel with Thumbnail is not working. The thumbnails are not showing, check and fix this @santosh8793

[2018-08-10 07:07] ahmedkaludi commented on #2331
@SageFargo Any update?

[2018-08-10 07:17] ahmedkaludi commented on #2248
REVIEW:

- [ ] Change the order "Layout" to second position: http://take.ms/DaWnO

[2018-08-10 07:29] ahmedkaludi commented on #2371
**REVIEW**

- [ ] It doesn't look like the sub-feilds. it should show as sub-fields: http://take.ms/INE6j

[2018-08-10 07:43] MARQAS commented on #1801
Currently, the schema is generated by our plugin.
But It is generating Article for Homepage as well. Is it normal? I guess the main concern of the user is that only.
 @MohammedKaludi @ahmedkaludi

[2018-08-10 08:03] MohammedKaludi commented on #2332
@MARQAS and @Zabi09
Regarding: https://github.com/ahmedkaludi/accelerated-mobile-pages/issues/2332#issuecomment-406588288

Yes remove it, also need to check and remove this_screen_own() and its script if it is not using.

[2018-08-10 08:05] MohammedKaludi commented on #2377
Don't use anonymous functions

https://github.com/ahmedkaludi/accelerated-mobile-pages/commit/42d5fc122f6f65c40797ec4d779c05e1d50b4613#diff-4c7e8aaf3d2ea6555ce6cdd4ecae8e69R717

[2018-08-10 09:49] MARQAS commented on #2445
Hi @Frenchomatic.
I will test this properly and will add the necessary code in our plugin.
Thank you so much for all your help

[2018-08-10 10:15] ansaritalha commented on #2440
a  priority customer facing a couple of issue because of the GDPR.

[2018-08-10 11:10] ansaritalha commented on #2440
Ref:https://secure.helpscout.net/conversation/586257505/26644?folderId=673457

[2018-08-10 11:31] Zabi09 commented on #2402
The script is loading only when the video is present in the category description.
post - http://take.ms/bRvng
page - http://take.ms/5TN8y
another category - http://take.ms/t59o7
if we add the content with iframe - http://take.ms/X3y9D

[2018-08-10 11:31] MohammedKaludi commented on #2383
Code shipped in 0.9.97.8

[2018-08-10 11:31] #2383 closed

[2018-08-10 11:43] whiwo commented on #2439
Nope, this is not a problem with the Yoast plugin. The %category% showing up in the file name was the Yoast plugin issue but the breadcrumbs via Yoast works perfectly in desktop mode but in AMP mode the "Home" link shows up twice. That issue has still not been resolved. It's definitely affecting the sitelinks for the site. Without the proper structure for the breadcrumbs, Google does not recognize

[2018-08-10 11:59] Zabi09 commented on #2361
Working on our end in beta version and also contacted the user for more info -
https://secure.helpscout.net/conversation/638761924/31892/

[2018-08-10 12:01] RajuJeelaga opened #2451 "Need to show alphabetical order all Extension part"

[2018-08-10 12:05] RajuJeelaga commented on #2451
I added all extension statically in an alphabetical order, @ajeetku need to work on some back end part.

[2018-08-11 06:32] #2096 closed

[2018-08-11 07:31] Zabi09 commented on #2419
FTP is here - https://secure.helpscout.net/conversation/631689534/31247?folderId=1060554